<div class="containerX" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z8" fxLayout="row wrap" fxLayoutGap="10px"
            fxFlex.lt-md="100" fxFlex.gt-md="60" fxFlex.md="70" fxLayoutAlign="space-between">

    <form name="form" [formGroup]="productForm" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="column">

      <mat-card-header *ngIf="!slug" class="mt-15">
        <mat-icon mat-card-avatar>add</mat-icon>
        <mat-card-title>Új termék létrehozása</mat-card-title>
      </mat-card-header>

      <mat-card-header *ngIf="slug" class="mt-15">
        <mat-icon mat-card-avatar>create</mat-icon>
        <mat-card-title>Termék szerkesztése</mat-card-title>
      </mat-card-header>

      <div fxFlex="100" fxLayout="column">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Termék megnevezése</mat-label>
          <input matInput placeholder="" formControlName="name">
          <mat-icon matSuffix>title</mat-icon>
          <mat-hint *ngIf="slug">Nem szerkeszthető.</mat-hint>
          <mat-hint align="end" *ngIf="!slug">
            Max. karakterek: {{ productForm.get('name').value?.length || 0 }}/200
          </mat-hint>
          <mat-error *ngIf="productForm.get('name').invalid">Min. 3, Max. 200 karakter hosszú!</mat-error>
          <mat-error *ngIf="productForm.get('name').errors?.serverError">
            {{ productForm.get('name').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="column">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Termék azonosító</mat-label>
          <input matInput placeholder="" formControlName="productCode">
          <mat-icon matSuffix></mat-icon>
          <mat-hint *ngIf="slug">Nem szerkeszthető.</mat-hint>
          <mat-hint *ngIf="!slug">Pl.: GMI12345</mat-hint>
          <mat-error *ngIf="productForm.get('productCode').invalid">Min. 3, Max. 30 karakter hosszú!</mat-error>
          <mat-error *ngIf="productForm.get('productCode').errors?.serverError">
            {{ productForm.get('productCode').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Kategória</mat-label>
          <mat-select formControlName="mainCategory" (selectionChange)="fetchSubCategories($event)" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let category of mainProductCategories" [value]="category.id">
              {{ category.displayName }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="productForm.get('mainCategory').hasError('required')">Kategória szükséges!</mat-error>
          <mat-error *ngIf="productForm.get('mainCategory').errors?.serverError">
            {{ productForm.get('mainCategory').errors?.serverError}}
          </mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Termék kategória</mat-label>
          <mat-select formControlName="subCategory" (selectionChange)="setCurrentSubCategory($event)" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let category of subProductCategories" [value]="category.key">
              {{ category.displayName }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('subCategory').hasError('required')">Kategória szükséges!</mat-error>
          <mat-error *ngIf="productForm.get('subCategory').errors?.serverError">
            {{ productForm.get('subCategory').errors?.serverError}}
          </mat-error>
          <mat-hint></mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mb-15">
        <mat-form-field [style.width]="'100%'" appearance="outline">
          <mat-label>Főbb jellemzők</mat-label>
          <mat-chip-list #chipList aria-label="Key informations">
            <mat-chip *ngFor="let feature of productFeatures" [selectable]="selectableDetails"
                      [removable]="removableDetails" (removed)="removeFeature(feature)">
              {{ feature }}
              <mat-icon matChipRemove *ngIf="removableDetails">cancel</mat-icon>
            </mat-chip>

            <label>
              <input placeholder="" [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="addFeature($event)">
            </label>
          </mat-chip-list>
          <mat-hint align="end">Vesszővel elválasztva, maximum {{ productFeatures?.length }} / 5</mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="column">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Termék leírása</mat-label>
          <textarea matTextareaAutosize [matAutosizeMaxRows]="20" rows="10" matInput placeholder=""
                    formControlName="description"></textarea>
          <mat-error *ngIf="productForm.get('description').invalid">Minimum 10 karakter!</mat-error>
          <mat-error *ngIf="productForm.get('description').errors?.serverError">
            {{ productForm.get('description').errors?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">

        <mat-form-field fxFlex="45" fxFlex.lt-sm="100" appearance="outline">
          <mat-label>Ár</mat-label>
          <input type="number" matInput placeholder="" formControlName="price">
          <mat-icon matSuffix>euro</mat-icon>
          <mat-error *ngIf="productForm.get('price').invalid">Pozitív ár szükséges!</mat-error>
          <mat-error *ngIf="productForm.get('price').errors?.serverError">
            {{ productForm.get('price').errors?.serverError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" fxFlex.lt-sm="100" appearance="outline">
          <mat-label>Kedvezmény</mat-label>
          <input type="number" matInput placeholder="" formControlName="discount">
          <mat-icon matSuffix>local_offer</mat-icon>
          <mat-hint>Kedvezmény (0 - 100%)</mat-hint>
          <mat-error *ngIf="productForm.get('discount').invalid">Min. 0, Max. 100!</mat-error>
          <mat-error *ngIf="productForm.get('discount').errors?.serverError">
            {{ productForm.get('discount').errors?.serverError }}
          </mat-error>
        </mat-form-field>

      </div>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">

        <mat-form-field fxFlex="45" fxFlex.lt-sm="100" appearance="outline">
          <mat-label>Garancia</mat-label>
          <input type="number" matInput placeholder="" formControlName="warrantyMonths">
          <mat-icon matSuffix>calendar_today</mat-icon>
          <mat-error *ngIf="productForm.get('warrantyMonths').invalid">Min. 0, Max. 360 hónap!</mat-error>
          <mat-error *ngIf="productForm.get('warrantyMonths').errors?.serverError">
            {{ productForm.get('warrantyMonths').errors?.serverError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45" fxFlex.lt-sm="100" appearance="outline">
          <mat-label>Mennyiség</mat-label>
          <input min="0" type="number" matInput placeholder="" formControlName="quantityAvailable">
          <mat-icon matSuffix>filter_9_plus</mat-icon>
          <mat-error *ngIf="productForm.get('quantityAvailable').invalid">Minimum 0!</mat-error>
          <mat-error *ngIf="productForm.get('quantityAvailable').errors?.serverError">
            {{ productForm.get('quantityAvailable').errors?.serverError }}
          </mat-error>
        </mat-form-field>

      </div>

      <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">

        <div fxFlex="100">
          <input style="display:none" multiple accept="image/*"
                 id="pictureUrl" type="file" (change)="onFileChange($event)" #imageInput>
          <button mat-flat-button color="primary" type="button" class="btn btn-outline-primary"
                  (click)="imageInput.click()">
            <mat-icon>add</mat-icon>
            Képek kiválasztása
          </button>
          <div>
            <mat-hint>Max. 1MB / kép</mat-hint>
          </div>
        </div>

        <div fxFlex="100" class="mt-15" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-lg="space-between"
             cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
          <mat-card materialElevation fxFlex.xs="20" fxFlex.sm="17" fxFlex.md="15" fxFlex.gt-md="10" fxLayout="column"
                    fxLayoutAlign="center center" cdkDrag *ngFor="let picture of productPictures"
                    class="image-thumbnail-div mat-elevation-z4"
          >

            <div class="example-handle" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9
                  3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>

            <img mat-card-image [src]="picture" (click)="removeImage(picture)" class="image-thumbnail"
                 alt="picture thumbnail">
          </mat-card>

        </div>

        <div fxFlex="100" class="mt-10" *ngIf="productPictures.length > 0">
          <mat-hint>A képek az ikonnal sorba rendezhetőek, kattintással törölhetőek.</mat-hint>
        </div>
      </div>

      <div fxFlex="100" class="mt-15" fxLayout="column">
        <mat-divider inset="true" class="divider-primary-colored"></mat-divider>
        <mat-checkbox color="primary" formControlName="active">Termék azonnal rendelhető</mat-checkbox>
      </div>

      <mat-card-actions class="mt-15" fxFlex="100" fxLayoutAlign="center">
        <button mat-flat-button color="primary" [disabled]="loading" type="submit">
          <mat-icon>create</mat-icon>
          Küldés
        </button>

        <a mat-flat-button color="primary" [style.margin-left]="'10px'" [disabled]="loading"
        (click)="navigateBack()">
          <mat-icon>arrow_back</mat-icon>
          Vissza
        </a>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
