<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form class="form shadow" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="note">
          <p>Bejelentkezés</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control"
                       placeholder="Username *" value="" required=""/>
              </div>
              <div class="form-group">
                <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control"
                       placeholder="Password *" value="" required=""/>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Bejelentkezés</button>
          <hr>
          <p class="text-secondary"><small>Nem regisztrált?</small><a href="/register"><small> Regisztráció</small></a></p>
        </div>
      </form>
    </div>
  </div>
</div>

