@import '~css-star-rating/css/star-rating.min.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.divider-accent-colored {
  margin-top: 7px !important;
  border-top-color: #ffcf02;
  margin-bottom: 7px !important;
}

.divider-primary-colored {
  margin-top: 7px !important;
  border-top-color: #673ab7;
  margin-bottom: 7px !important;
}

.discounted-price {
  color: red;
}

.containerX {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}

.mt-10 {
  margin-top: 10px;
}

.loading {
  opacity: .3;
}

.full-width {
  width: 100%;
}
.star-container {
  z-index: 0;
}
