<div class="containerX" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z8" fxLayout="row wrap" fxLayoutGap="10px"
            fxFlex.lt-md="100" fxFlex.gt-md="70" fxLayoutAlign="space-between" *ngIf="ratingForm">
    <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()" fxFlex="100" fxLayout="column">
      <div fxFlex="100" fxLayout="column">
        <mat-card-title>
          Értékelés írása erre a termékre:
        </mat-card-title>
        <mat-card-content>
          <a [routerLink]="['/product', slug]">
            <mat-card-content>{{ product?.name}}</mat-card-content>
          </a>
        </mat-card-content>
      </div>
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start">
        <star-rating labelText="Értékelésed: " staticColor="ok" id="ratingInput"
                     (starClickChange)="getRatingInputValue($event)"></star-rating>
        <mat-card-subtitle fxFlex="100">(Kattints a megfelelő csillagra)</mat-card-subtitle>
      </div>

      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start">
        <mat-card-header fxFlex="100">
          <mat-icon mat-card-avatar>title</mat-icon>
          <mat-card-title><small>Értékelés címe: </small></mat-card-title>
        </mat-card-header>

        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Cím</mat-label>
          <input matInput formControlName="title">
          <mat-hint align="end">Max. karakterek: {{ ratingForm.get('title').value?.length || 0 }}/100</mat-hint>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10" fxLayoutAlign="space-between">
        <div class="mt-15" fxFlex="45" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row wrap">

          <mat-card-header fxFlex="100">
            <mat-icon class="rating-positive-icon" mat-card-avatar>add</mat-icon>
            <mat-card-title><small>Pozítivumok: </small></mat-card-title>
          </mat-card-header>

          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Pozitívumok</mat-label>
            <textarea class="rating-comment" rows="7" matInput formControlName="positiveComment"></textarea>
          </mat-form-field>

        </div>

        <div class="mt-15" fxFlex="45" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row wrap">
          <mat-card-header fxFlex="100">
            <mat-icon class="rating-negative-icon" mat-card-avatar>remove</mat-icon>
            <mat-card-title><small>Negatívumok: </small></mat-card-title>
          </mat-card-header>

          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Negatívumok</mat-label>
            <textarea class="rating-comment" rows="7" matInput formControlName="negativeComment"></textarea>
          </mat-form-field>
        </div>

      </div>

      <div fxFlex="100" fxLayout="column" fxLayoutAlign="start">

        <div fxFlex="100">
          <input style="display:none" multiple accept="image/*"
                 id="pictureUrl" type="file" (change)="onFileChange($event)" #imageInput>
          <button mat-flat-button color="primary" type="button" class="btn btn-outline-primary"
                  (click)="imageInput.click()">
            <mat-icon>add</mat-icon>
            Képek kiválasztása
          </button>
          <div>
            <mat-hint>Max. 1MB / kép</mat-hint>
          </div>
        </div>

        <div fxFlex="100" class="mt-15" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-lg="space-between"
             cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
          <mat-card materialElevation fxFlex.xs="20" fxFlex.sm="17" fxFlex.md="15" fxFlex.gt-md="10" fxLayout="column"
                    fxLayoutAlign="center center" cdkDrag *ngFor="let picture of pictures"
                    class="image-thumbnail-div mat-elevation-z4"
          >

            <div class="example-handle" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9
                  3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>

            <img mat-card-image [src]="picture" (click)="removeImage(picture)" class="image-thumbnail"
                 alt="picture thumbnail">
          </mat-card>

        </div>

        <div fxFlex="100" class="mt-10" *ngIf="pictures.length > 0">
          <mat-hint>A képek az ikonnal sorba rendezhetőek, kattintással törölhetőek.</mat-hint>
        </div>
      </div>

      <div fxFlex="100" fxLayoutAlign="end">
        <button mat-flat-button color="primary">
          <mat-icon>done</mat-icon>
          Értékelés
        </button>
      </div>
    </form>
  </mat-card>
</div>
