@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

.navbar{
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  font-family: 'Crimson Text', serif;
  margin-bottom: 20px;

}
.navbar-brand{
  color: aliceblue;
}
.right-buttons {
  list-style-type: none;
}
.right-buttons li {
  display: inline;
}

.btn{
  color: aliceblue;
}
