<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-left"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mr-auto" href="/">GMI STORE</a>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!authService.isAuthenticated()">
          <span><a [routerLink]="['/login']" class="login btn btn-default">Bejelentkezés</a></span>
        </li>
        <li *ngIf="!authService.isAuthenticated()">
          <a [routerLink]="['/register']" class="register btn btn-default">Regisztráció</a>
        </li>
      </ul>

      <form class="navbar-form" role="search">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control rounded" placeholder="keresés" name="q">
          <div class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="authService.isAuthenticated()">
      <div class="dropdown">
        <button type="button" class="btn btn-link btn-sm text-decoration-none dropdown-toggle"
                id="accountDropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle" aria-hidden="true"></i> <span class=""> Fiók</span>
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" [routerLink]="['/user/my-account']">Adataim</a>
          <a class="dropdown-item" (click)="logout()">Kijelentkezés</a>
        </div>
      </div>
    </div>

    <div class="dropdown">
      <a [routerLink]="['/cart']"><button type="button" class="btn btn-link text-decoration-none btn-sm
      dropdown-toggle" id="cartDropdownButton" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Kosár
      </button></a>
      <div class="dropdown-menu" aria-labelledby="cartDropdownButton">
        <a class="dropdown-item" id="cartContent">Kosár üres</a>
      </div>
    </div>
  </div>
</nav>
