.navbar{
  background: -webkit-linear-gradient(left, #0072ff, #8811c5);
  margin-bottom: 20px;
}
.navbar-brand{
  color: aliceblue;
}
.right-buttons {
  list-style-type: none;
}
.right-buttons li {
  display: inline;
}

.btn{
  color: aliceblue;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
