<div class="cookies-container" fxLayout="containerX" fxLayoutAlign="center center">
  <div fxFlex="80" fxLayout="column" fxLayoutAlign="start">
    <mat-card fxFlex="100">
      <h1 class="mat-display-1" fxLayoutAlign="center center">Süti (cookies) kezelési tájékoztató</h1>
      <h2 class=".mat-display-2">
        A kényelmes vásárlási élmény érdekében sütiket használunk a tartalom és a közösségi funkciók biztosításához, a
        weboldal forgalmunk elemzéséhez és reklámozás céljából. A weboldalon megtekintheted az Adatkezelési
        tájékoztatónkat és a sütik használatának részletes leírását.
      </h2>
      <p class=".mat-body">
      <h2 class=".mat-h3">1. MIK AZOK A SÜTIK, HOGYAN TUDOD MÓDOSÍTANI A BEÁLLÍTÁSOKAT?</h2>
      <p>
        A sütik olyan kis szöveges fájlok, amelyeket egy weboldal felhasználhat arra, hogy még hatékonyabbá tegye a
        felhasználói élményt. A jogszabályok szerint a sütiket abban az esetben tárolhatjuk a Te eszközödön, ha erre
        feltétlenül szükség van a weboldalunk működése érdekében. Minden egyéb típusú süti használatához az engedélyedre
        van szükségünk. Jelen weboldalunk különféle sütiket használ. A weboldalunkon megjelenő néhány sütit harmadik fél
        szolgáltatóink helyezik el.

        A sütik kezelésére vonatkozó beállításaidat, hozzájárulásodat az alábbi linkre kattintva módosíthatod, illetve
        visszavonhatod.

        Az aktuális beállításod: Összes süti engedélyezve
      </p>


      <p>
        A fenti beállításokon túl a böngészők lehetőséget adnak a süti-beállítások megváltoztatására. A legtöbb böngésző
        alapértelmezettként automatikusan elfogadja a sütiket, de ez megváltoztatható annak érdekében, hogy a beállítást
        követően megakadályozza az automatikus elfogadást.
        Ha többet szeretnél megtudni a böngésző beállításainak módosításáról, nézd át a böngésző utasításait vagy
        súgóját. A legnépszerűbb böngészők süti-beállításairól az alábbi linkeken tájékozódhatsz:
      </p>


      <h2 class=".mat-h2">2. MILYEN SÜTIKET HASZNÁLUNK A WEBOLDALUNKON?</h2>
      <h3 class=".mat-h3">2.1. Elengedhetetlenül szükséges sütik</h3>
      <p>
        Az elengedhetetlen sütik weboldalunk használhatóságát segítik azáltal, hogy engedélyeznek olyan alapvető
        funkciókat, mint az oldalon való navigáció és a weboldal biztonságos területeihez való hozzáférés. A weboldal
        ezen
        sütik nélkül nem tud megfelelően működni.

      </p>
      <h3 class=".mat-h3">2.2. Preferenciális sütik</h3>
      <p>
        A preferenciális sütik használatával olyan információkat tudunk megjegyezni, amelyek megváltoztatják a weboldal
        bizonyos magatartását, illetve kinézetét, erre példa lehet az általad előnyben részesített nyelv vagy a régió,
        amelyben tartózkodsz.
      </p>

      <h3 class=".mat-h3">2.3. Statisztikai célú sütik</h3>
      <p>
        Az adatok névtelen formában való gyűjtésén és jelentésén keresztül a statisztikai sütik segítenek a weboldal
        tulajdonosának abban, hogy megértse, hogyan lépnek interakcióba a látogatók a weboldallal.

      </p>
      <h3 class=".mat-h3">2.4. Marketing célú sütik</h3>
      <p>
        A személyre szabott sütiket a látogatók weboldal-tevékenységének nyomon követésére használjuk. A cél az, hogy
        minél relevánsabb hirdetéseket tegyünk közzé az egyéni felhasználók számára, preferenciájuknak megfelelő
        tartalmat
        jelenítsünk meg, valamint aktivitásra buzdítsuk őket.

        Tájékoztatunk téged, hogy az egyes sütikhez kapcsolódó részletes információkat ide kattintva megnyíló süti
        tájékoztató ablak „Részletek megjelenítése” linkjére kattintva érheted el. Itt minden egyes sütivel kapcsolatban
        egyesével tudsz információt szerezni arról, hogy az egyes sütik milyen célt szolgálnak és meddig tárolódnak.
      </p>

      <h2 class=".mat-h2">3. HOL TÖRTÉNIK MEG A TÁJÉKOZTATÁS ÉS A HOZZÁJÁRULÁS A SÜTI KEZELÉSSEL KAPCSOLATBAN?</h2>
      <p>Amikor a honlapunkat első alkalommal látogatod meg, akkor egy pop-up (felugró) ablak jelenik meg a képernyő
      közepén, amely tájékoztat téged arról, hogy az GMIStore milyen sütiket alkalmaz, és meg tudod határozni
      azt, hogy mely sütikhez adod a hozzájárulásod. Ezen tájékoztató ablak tartalmaz egy linket ehhez a cookie
      tájékoztatóhoz is.
      </p>
    </mat-card>


  </div>
</div>
