<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="box mat-elevation-z8" [style.z-index]="'0'">
    <mat-card-header [style.margin-bottom]="'2%'">
      <h2>Regisztráció</h2>
    </mat-card-header>

    <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-card-content>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Keresztnév</mat-label>
          <input matInput placeholder="" formControlName="firstName" required>
          <mat-hint></mat-hint>
          <mat-error *ngIf="registerForm.get('firstName').errors?.serverError">
            {{ registerForm.get('firstName').errors?.serverError }}
          </mat-error>
          <mat-error *ngIf="registerForm.get('firstName').invalid &&
          !registerForm.get('firstName').errors?.serverError">
            Keresztnév <strong>szükséges</strong>, max. 100 karakter!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Vezetéknév</mat-label>
          <input matInput placeholder="" formControlName="lastName" required>
          <mat-hint></mat-hint>
          <mat-error *ngIf="registerForm.get('lastName').errors?.serverError">
            {{ registerForm.get('lastName').errors?.serverError }}
          </mat-error>
          <mat-error *ngIf="registerForm.get('lastName').invalid &&
          !registerForm.get('lastName').errors?.serverError">
            Vezetéknév <strong>szükséges</strong>, max. 100 karakter!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Felhasználónév</mat-label>
          <input matInput placeholder="" formControlName="username" required>
          <mat-hint>Maximum 30 karakter</mat-hint>
          <mat-error *ngIf="registerForm.get('username').invalid &&
          !registerForm.get('username').errors?.serverError">
            Felhasználónév <strong>szükséges</strong>, max. 100 karakter!
          </mat-error>
          <mat-error *ngIf="registerForm.get('username').errors?.usernameExists">
            Felhasználónév már létezik!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email" required>
          <mat-icon matSuffix>mail</mat-icon>
          <mat-hint>Valós email címet adj meg!</mat-hint>

          <mat-error *ngIf="registerForm.get('email').errors?.emailTaken">
            Email cím már használatban van!
          </mat-error>

          <mat-error *ngIf="registerForm.get('email').errors?.serverError">
            {{ registerForm.get('email').errors.serverError}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-full-width mb-15" appearance="outline">
          <mat-label>Jelszó</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="" formControlName="password"
                 required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Min. 6 karakter, nagybetűt, kisbetűt, számot és speciális karaktert tartalmaznia kell!</mat-hint>

          <mat-error *ngIf="registerForm.get('password').invalid &&
          !registerForm.get('password').errors?.serverError">
            Min. 6 karakter, nagybetűt, kisbetűt, számot és speciális karaktert tartalmaznia kell!
          </mat-error>

          <mat-error *ngIf="registerForm.get('password').errors?.serverError">
            {{ registerForm.get('password').errors?.serverError }}
          </mat-error>

        </mat-form-field>

        <mat-form-field class="form-full-width" appearance="outline">
          <mat-label>Jelszó ismét</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder=""
                 formControlName="confirmPassword" required>
          <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint></mat-hint>
          <mat-error *ngIf="registerForm.get('confirmPassword').errors?.mustMatch">
            Jelszó nem egyezik
          </mat-error>
        </mat-form-field>

        <mat-slide-toggle color="primary" formControlName="seller" class="mt-15 mb-15">
          Eladóként regisztrálsz?
        </mat-slide-toggle>
      </mat-card-content>

      <button mat-stroked-button color="primary" class="btn-block" [disabled]="registerForm.invalid">Regisztráció
      </button>

      <mat-divider></mat-divider>
      <a mat-button color="primary" [routerLink]="['/login']" class="login-footer-text">Bejelentkezés</a>
    </form>
  </mat-card>
</div>
