<div class="row">
  <div class="col-lg-8">

    <div class="mb-2 background-white shadow rounded p-2">
      <div class="pt-4 wish-list">

        <h6 class="mb-4">Kosár (<span>{{ cart?.cartItems.length }}</span> termék)</h6>

        <div class="row mb-4" *ngFor="let item of cart?.cartItems">
          <div class="col-md-5 col-lg-3 col-xl-3">
            <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
              <img class="img-fluid w-100" [src]="item.product.pictureUrl" alt="product-picture">
            </div>
          </div>

          <div class="col-md-7 col-lg-9 col-xl-9">
            <div>
              <div class="d-flex justify-content-between">
                <div>
                  <h5>{{ item.product.name }}</h5>
                  <p class="mb-3 text-muted small">Termék kód: {{ item.product.productCode }}</p>
                  <p class="mb-3 text-muted small">Garancia: {{ item.product.warrantyMonths }} hónap</p>
                </div>
                <div>
                  <select class="form-control" #t (change)="refreshProductCount(item.product.id, t.value)"
                          id="productCountSelector">
                    <option *ngFor="let count of [].constructor(item.product.quantityAvailable); let idx = index"
                            [value]="idx + 1" [selected]="item.count === idx + 1">{{ idx + 1 }}</option>
                  </select>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a [routerLink]="" (click)="removeProduct(item.id)"
                     class="card-link-secondary small text-uppercase mr-3">
                    <i class="fa fa-trash mr-1" aria-hidden="true"></i> Törlés </a>
                  <a href="" type="button" class="card-link-secondary small text-uppercase">
                    <i class="fa fa-heart mr-1" aria-hidden="true"></i> Kedvencekhez</a>
                </div>
                <p class="mb-0" *ngIf="item.product.discount">
                  <span><small>
                    <del>
                    {{ item.product.price | currency: 'HUF': 'symbol-narrow': '2.0'}}
                  </del>
                    ({{ item.product.discount }} %)
                  </small></span>
                  <span class="text-danger">
                  {{ (item.product.price / 100) * (100 - item.product.discount) |
                    currency: 'HUF': 'symbol-narrow': '2.0' }}
                </span>
                </p>
                <p class="mb-0" *ngIf="!item.product.discount">
                  <span>
                    {{ item.product.price | currency: 'HUF': 'symbol-narrow': '3.0'}}
                  </span>
                </p>
              </div>
            </div>
            <hr class="mb-4">
          </div>

        </div>
      </div>
    </div>

    <div class="mb-2 shadow background-white p-2 pb-4 rounded">
      <div class="pt-4">
        <h6 class="pl-1 pb-2"><i class="fa fa-truck" aria-hidden="true"></i> Szállítási módok: </h6>
        <div class="form-check mb-2" *ngFor="let shipping of shippingData">
          <label class="form-check-label shipping-label">
            <input class="form-check-input" type="radio" [(ngModel)]="currentShipping.method"
                   (change)="refreshSippingPrice(shipping.days)" name="shippingMethod" id="shippingMethod"
                   [value]="shipping.method">

            {{ shipping.method | titlecase }}
            ({{ shipping.days }} munkanap)
          </label>
          <span class="float-right">
              {{ shipping.cost | currency: 'HUF': 'symbol-narrow': '1.0'}}
            </span>
        </div>
        <hr>
        <h6 class="mb-3">Várható szállítás*: </h6>
        <p class="mb-2 shipping-label">{{cart?.expectedDeliveryDate| date: 'MMMM d EEEE'}}</p>
        <p class="text-muted">
          <small>* 14:00 után leadott rendelések a következő munkanapon kerülnek feldolgozásra.</small>
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="mb-2 shadow background-white rounded p-2">
      <div class="pt-4">

        <p><a class="text-secondary text-decoration-none d-flex justify-content-between" data-toggle="collapse"
              href="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">
          Utalvány kód
          <span><i class="fa fa-chevron-down pt-1" aria-hidden="true"></i></span>
        </a></p>

        <div class="collapse" id="collapseExample">
          <div class="mt-3">
            <div class="md-form md-outline mb-0">
              <input type="text" id="discount-code" class="form-control font-weight-light"
                     placeholder="ajándékutalvány">
            </div>
            <button class="btn btn-primary btn-block my-2">Küldés</button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3 shadow background-white p-2 rounded">
      <div class="pt-4">

        <h6 class="mb-3">Összesítés:</h6>

        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
            Kosár összege:
            <span>{{ cart?.itemsTotalPrice | currency: 'HUF': 'symbol-narrow' : '3.0'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            Szállítás:
            <span>{{ cart?.shippingMethod.cost | currency: 'HUF': 'symbol-narrow' : '1.0'}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
            <div>Végösszeg:<strong><p class="mb-0">(ÁFA-val)</p></strong>
            </div>
            <span><strong>{{ cart?.totalPrice | currency: 'HUF': 'symbol-narrow' : '3.0'}}</strong></span>
          </li>
        </ul>
        <button type="button" class="btn btn-primary btn-block" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border mr-1"></span>
          Véglegesítés
        </button>

      </div>
    </div>
  </div>
</div>
