.desktop-btn {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: -16px -16px;
}

.sm-btn {
  width: 100%;
}

.order-btn {
  bottom: 100px;
  left: 50px;
  margin: 20px;
  position: fixed;
}
