<form [formGroup]="userForm">
  <div fxLayoutAlign="center" [style.margin]="'2%'">
    <div fxLayout="row wrap" fxFlex.lt-lg="100" fxFlex.gt-md="80" fxLayoutAlign="center" fxLayoutGap="10px">

      <mat-card fxFlex.gt-sm="50" fxFlex.lt-md="100">

        <app-profile *ngIf="loaded"
                     [userDataForm]="userForm"
                     [data]="user">
        </app-profile>

        <button class="desktop-btn" mat-flat-button fxHide.lt-md="true" color="primary" (click)="onSubmit(user.id)">
          Submit
        </button>
      </mat-card>

      <div fxFlex.gt-sm="40" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="10px">
        <app-shipping-address *ngIf="loaded" [userDataForm]="userForm"
                              [userShipping]="user.shippingAddress"></app-shipping-address>

        <app-billing-address *ngIf="loaded" [userDataForm]="userForm"
                             [userBilling]="user.billingAddress"></app-billing-address>

        <button class="sm-btn" mat-flat-button fxHide.gt-sm="true" color="primary" (click)="onSubmit(user.id)">Submit
        </button>

      </div>
    </div>

  </div>
</form>


