<form [formGroup]="userForm">
  <div fxLayoutAlign="center" [style.margin-top]="'1%'">
    <div fxLayout="row wrap" fxFlex.lt-lg="100" fxFlex.gt-md="80" fxLayoutAlign="center" fxLayoutGap="10px">

      <div fxFlex.gt-sm="90" fxLayoutGap="10px">
        <mat-card fxFlex.gt-sm="55">
          <mat-card-header>
            <mat-card-title>Profile</mat-card-title>
            <mat-card-subtitle>Details</mat-card-subtitle>
          </mat-card-header>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Keresztnév</mat-label>
              <input matInput formControlName="firstName">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Vezetéknév</mat-label>
              <input matInput readonly formControlName="lastName">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Felhasználónév</mat-label>
              <input matInput [value]="user.username" disabled>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Telefon</mat-label>
              <input matInput formControlName="phoneNumber">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Regisztrált</mat-label>
              <input matInput [value]="user.registered | date:'yyyy/MM/dd'" disabled>
            </mat-form-field>
          </p>
        </mat-card>

        <div fxFlex.gt-sm="45">
          <div fxLayout="column wrap" fxLayoutGap="10px">
            <mat-card formGroupName="shippingAddress">
              <mat-card-header>
                <mat-card-title>Shipping Address</mat-card-title>
                <mat-card-subtitle>Details</mat-card-subtitle>
              </mat-card-header>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Város</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Utca</mat-label>
                  <input matInput formControlName="street">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Város</mat-label>
                  <input matInput formControlName="floor">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Iranyitószám</mat-label>
                  <input matInput formControlName="postcode">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Ország</mat-label>
                  <input matInput formControlName="country">
                </mat-form-field>
              </p>
            </mat-card>

            <mat-card formGroupName="billingAddress">
              <mat-card-header>
                <mat-card-title>Billing Address</mat-card-title>
                <mat-card-subtitle>Details</mat-card-subtitle>
              </mat-card-header>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Város</mat-label>
                  <input matInput formControlName="city">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Utca</mat-label>
                  <input matInput formControlName="street">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Város</mat-label>
                  <input matInput formControlName="floor">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Iranyitószám</mat-label>
                  <input matInput formControlName="postcode">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Ország</mat-label>
                  <input matInput formControlName="country">
                </mat-form-field>
              </p>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


