<div class="containerX" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z8" fxLayout="row wrap" fxLayoutGap="10px"
            fxFlex.lt-md="100" fxFlex.gt-md="70" fxLayoutAlign="space-between" *ngIf="product">

    <div fxFlex="40" fxFlex.xs="100" fxFlex.gt-xs="48" fxLayout="column" fxLayoutAlign="start"
         fxLayoutGap="15px">

      <div fxFlex="100">
        <img [src]="defaultPicture" fxFlexFill alt="main-image"/>
      </div>

      <div class="thumbnail-pictures-div" fxFlex="100" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div *ngFor="let picture of product.pictures" class="preview-thumbnail" fxFlex="30">
          <img mat-card-image class="preview-image" [src]="picture" (click)="changeDefaultImg(picture)"
               alt="Thumbnail picture"/>
        </div>
      </div>

    </div>

    <div fxFlex="40" fxFlex.xs="100" fxFlex.gt-xs="48" fxLayout="column" fxLayoutAlign="stretch start">
      <div fxFlex="100">
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>Vásárlói vélemények: {{ratings?.length}}</mat-card-subtitle>

        <star-rating [starType]="'svg'" [showHalfStars]="true" [rating]="product.averageRating"
                     [readOnly]="true" staticColor="ok">
        </star-rating>

        <mat-card-content>
          <p>Termék azonosító: {{product.productCode}}</p>
          <p>Kategória: {{product.category}}</p>
          <p>{{product.warrantyMonths}} hónap garancia</p>
          <p>{{product.quantitySold}} eladott darab</p>
        </mat-card-content>
      </div>


      <div class="" *ngIf="product.quantityAvailable > 0" fxFlex="100" fxLayout="column">

        <span class="spacer"></span>
        <mat-card-subtitle>Kiszállítás: akár 1 munkanapon belül</mat-card-subtitle>
        <mat-card-content>{{product.quantityAvailable}} raktáron</mat-card-content>

        <mat-card-header *ngIf="product.discount == 0">
          <mat-card-content>
            {{product.price  | currency : 'HUF' : 'symbol-narrow' : '3.0' }}
          </mat-card-content>
        </mat-card-header>

        <mat-card-header *ngIf="product.discount > 0">
          <mat-card-title class="discounted-price">
            {{calculateDiscountedPrice() | currency :'HUF' : 'symbol-narrow' : '3.0' }}
          </mat-card-title>
          <mat-card-subtitle>
            <del>
              {{product.price  | currency : 'HUF' : 'symbol-narrow' : '3.0' }}
            </del>
            ({{ product.discount }} % )
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions fxLayoutAlign="bottom start">
          <button mat-button [color]="'primary'" type="button" (click)="addToCart(product.id)">
            <mat-icon>add_shopping_cart</mat-icon>
            Kosárba
          </button>
          <button mat-button [color]="'primary'" type="button">
            <mat-icon>favorite</mat-icon>
            Kedvencekhez
          </button>
        </mat-card-actions>
      </div>

      <div fxLayout="column" fxFlex="100" *ngIf="product.quantityAvailable == 0" fxLayoutAlign="bottom start">
        <span class="spacer"></span>
        <mat-card-title>Nincs raktáron</mat-card-title>
        <button mat-button [color]="'primary'" type="button">
          <mat-icon>favorite</mat-icon>
          Kedvencekhez
        </button>
      </div>
    </div>

    <mat-divider class="divider-primary-colored" inset="true"></mat-divider>

    <div class="mt-15" fxFlex="100">
      <mat-card-header>
        <mat-icon mat-card-avatar>description</mat-icon>
        <mat-card-title>
          Leírás:
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{product?.description}}
      </mat-card-content>
    </div>

    <mat-divider class="divider-primary-colored" inset="true"></mat-divider>

    <div class="mt-15 mb-15" fxFlex="100" fxLayout="row wrap">

      <mat-card-header fxFlex="100">
        <mat-icon mat-card-avatar>grade</mat-icon>
        <mat-card-title>Vélemények & értékelések</mat-card-title>
      </mat-card-header>

      <mat-card-content fxFlex="100" *ngIf="!authenticatedUser">Termék értékeléséhez jelentkezz be</mat-card-content>

      <div fxFlex="100" fxLayout="row wrap" *ngIf="authenticatedUser && !ratedByCurrentUser">
        <div fxFlex="50" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start">
          <star-rating labelText="Értékelésed: " staticColor="ok" id="ratingInput"
                       (starClickChange)="getRatingInputValue($event)"></star-rating>
          <mat-card-subtitle fxFlex="100">(Kattints a megfelelő csillagra)</mat-card-subtitle>
        </div>

        <div fxFlex="50" fxFlex.lt-md="100" fxLayout="row" fxLayoutAlign="start">
          <mat-form-field fxFlex="100" appearance="outline">
            <mat-label>Értékelés címe</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10" fxLayoutAlign="space-between">
          <div class="mt-15" fxFlex="45" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row wrap">

            <mat-card-header fxFlex="100">
              <mat-icon class="rating-positive-icon" mat-card-avatar>add</mat-icon>
              <mat-card-title><small>Pozítivumok: </small></mat-card-title>
            </mat-card-header>

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Pozitívumok</mat-label>
              <textarea class="rating-comment" rows="4" matInput></textarea>
            </mat-form-field>

          </div>

          <div class="mt-15" fxFlex="45" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row wrap">
            <mat-card-header fxFlex="100">
              <mat-icon class="rating-negative-icon" mat-card-avatar>remove</mat-icon>
              <mat-card-title><small>Negatívumok: </small></mat-card-title>
            </mat-card-header>

            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label>Negatívumok</mat-label>
              <textarea class="rating-comment" rows="4" matInput></textarea>
            </mat-form-field>
          </div>

        </div>
        <div fxFlex="100" fxLayoutAlign="end">
          <button mat-button color="primary">
            <mat-icon>done</mat-icon>
            Értékelés
          </button>
        </div>

      </div>

      <div fxFlex="100" fxLayout="row wrap" *ngIf="authenticatedUser && ratedByCurrentUser">
        <mat-card fxFlex="100" fxLayoutAlign="start">
          <star-rating labelText="Értékelésed: " staticColor="ok" [rating]="ratingByCurrentUser" [readOnly]="true">
          </star-rating>
        </mat-card>
      </div>

      <mat-divider inset="true" class="divider-accent-colored"></mat-divider>

      <div fxFlex="45" class="mt-15">
        <div fxLayout="row wrap">
          <mat-card-title fxFlex="30"><strong>{{ product.averageRating }}</strong> / 5</mat-card-title>

          <star-rating fxFlex="65" [starType]="'svg'" [showHalfStars]="true" [rating]="product.averageRating"
                       [readOnly]="true" staticColor="ok">
          </star-rating>

          <mat-card-subtitle fxFlex="30">{{ ratings?.length }} értékelés</mat-card-subtitle>
        </div>
      </div>

      <div fxFlex="55" fxFlex.lt-sm="100" fxLayout="column">

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <p fxFlex="12" class="rating-bar-text">5 csillag</p>
          <mat-progress-bar [value]="fiveStarPercentage" matTooltip="{{ fiveStarPercentage }} %" fxFlex="80">
          </mat-progress-bar>
          <p fxFlex="5" class="rating-bar-text">{{ fiveStars }}</p>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <p fxFlex="12" class="rating-bar-text">4 csillag</p>
          <mat-progress-bar [value]="fourStarPercentage" matTooltip="{{ fourStarPercentage }} %" fxFlex="80">
          </mat-progress-bar>
          <p fxFlex="5" class="rating-bar-text">{{ fourStars }}</p>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <p fxFlex="12" class="rating-bar-text">3 csillag</p>
          <mat-progress-bar [value]="threeStarPercentage" matTooltip="{{ threeStarPercentage }} %" fxFlex="80">
          </mat-progress-bar>
          <p fxFlex="5" class="rating-bar-text">{{ threeStars }}</p>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <p fxFlex="12" class="rating-bar-text">2 csillag</p>
          <mat-progress-bar [value]="twoStarPercentage" matTooltip="{{ twoStarPercentage }} %" fxFlex="80">
          </mat-progress-bar>
          <p fxFlex="5" class="rating-bar-text">{{ twoStars }}</p>
        </div>

        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <p fxFlex="12" class="rating-bar-text">1 csillag</p>
          <mat-progress-bar [value]="oneStarPercentage" matTooltip="{{ oneStarPercentage }} %" fxFlex="80">
          </mat-progress-bar>
          <p fxFlex="5" class="rating-bar-text">{{ oneStar }}</p>
        </div>

      </div>
    </div>

    <div class="mt-15" fxFlex="100" fxLayout="column" fxLayoutGap="15px">
      <div *ngFor="let rating of ratings" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">

        <mat-divider inset="true" class="divider-accent-colored"></mat-divider>

        <div class="mt-15" fxFlex="30" fxFlex.lt-md="100">
          <mat-card-header>

            <mat-card-subtitle>
              <mat-icon>person</mat-icon>
              {{ rating.username }}
            </mat-card-subtitle>

            <mat-card-subtitle>
              <mat-icon>history</mat-icon>
              {{ rating.timeStamp | date: "yyyy-MM-dd" }}
            </mat-card-subtitle>

          </mat-card-header>

        </div>

        <div class="mt-15" fxFlex="65" fxFlex.lt-md="100" fxLayout="row wrap" fxLayoutAlign="start space-evenly">
          <mat-card-title><small>{{ rating.title }}</small></mat-card-title>
          <div fxFlex="100" fxLayoutAlign="start">
            <star-rating [readOnly]="true" staticColor="ok" [rating]="rating.actualRating"></star-rating>
          </div>

          <div fxFlex="5" class="mt-15">
            <mat-icon class="rating-positive-icon">add</mat-icon>
          </div>
          <mat-card-content class="mt-15" fxFlex="95">{{ rating.positiveComment }}</mat-card-content>

          <div fxFlex="5">
            <mat-icon class="rating-negative-icon">remove</mat-icon>
          </div>
          <mat-card-content fxFlex="95">{{ rating.negativeComment }}</mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="primary">
              <mat-icon>thumb_up</mat-icon>
            </button>

            {{ rating.upVotes }}
            &nbsp;<strong>|</strong>

            <button mat-button color="primary">
              <mat-icon>report</mat-icon>
              Jelentés
            </button>

            <button mat-button color="warn">
              <mat-icon>delete</mat-icon>
              Törlés
            </button>

          </mat-card-actions>
        </div>
      </div>
    </div>

  </mat-card>
</div>
