<div class="container">
  <div class="row mt-4" *ngIf="product">
    <div class="col-md-6">
      <div class="preview-pic tab-content">
        <div class="tab-pane active" id="pic-1">
          <img [src]="defaultPicture" alt="main-image"/>
        </div>
      </div>
      <ul class="preview-thumbnail nav nav-tabs">
        <li class="active" *ngFor="let picture of product.pictures" (click)="changeDefaultImg(picture)">
          <a data-target="#pic-1" data-toggle="tab"><img src="{{picture}}" alt=""/></a>
        </li>
      </ul>
    </div>
    <div class="details col-md-6 col-sm-12">
      <h4 class="product-title">{{product.name}}</h4>
      <h6 class="text-secondary"><small>Vásárlói vélemények: {{product.ratings.length}}</small></h6>
      <div class="rating">
        <div class="star-ratings-css">
          <div class="star-ratings-css-top" [ngStyle]="{'max-width.px': averageRatingPercentage}">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </div>
          <div class="star-ratings-css-bottom">
            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          </div>
        </div>
      </div>
      <p><small>Kategória: {{product.category}}</small></p>
      <p><small>{{product.warrantyMonths}} hónap garancia</small></p>
      <p><small>{{product.quantitySold}} eladott darab</small></p>

      <div class="action" *ngIf="product.quantityAvailable > 0">
        <p class="text-success">{{product.quantityAvailable}} raktáron</p>
        <h6 class="text-danger" *ngIf="product.discount == 0">{{product.price}} Ft</h6>
        <h6 class="text-danger" *ngIf="product.discount > 0">
          <small>
            <del>{{product.price}} HUF</del>
          </small>
          Akciós ár:
          <span [innerText]="calculateDiscountedPrice()"></span> HUF
        </h6>
        <button class="add-to-cart btn btn-default mr-1" type="button">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Kosárba
        </button>
        <button class="like btn btn-default" type="button">
          <span class="fa fa-heart"></span>
        </button>
      </div>

      <div class="action" *ngIf="product.quantityAvailable == 0">
        <p class="text-secondary">Jelenleg nincs raktáron.</p>
        <button class="like btn btn-default" type="button">
          <span class="fa fa-heart"></span>
        </button>
      </div>
    </div>

  </div>
  <div class="row mt-3">
    <div class="col-12">
      <hr>
      <h6>Leírás:</h6>
      <p class="product-description text-justify">{{product.description}}</p>
    </div>
  </div>
</div>
