<div class="container">
  <div class="card shadow" *ngIf="product">

    <div class="wrapper row">
      <div class="col-md-6">
        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <img [src]="defaultPicture" alt="main-image"/>
          </div>
        </div>
        <ul class="preview-thumbnail nav nav-tabs">
          <li class="active" *ngFor="let picture of product.pictures" (click)="changeDefaultImg(picture)">
            <a data-target="#pic-1" data-toggle="tab"><img src="{{picture}}" alt=""/></a>
          </li>
        </ul>
      </div>
      <div class="details col-md-6">
        <h3 class="product-title">{{product.name}}</h3>

        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no"><small>{{product.ratings.length}} értékelés alapján</small></span>
        </div>


        <p><small>Kategória: {{product.category}}</small></p>
        <h6>{{product.warrantyMonths}} hónap garancia</h6>
        <p>{{product.quantitySold}} eladott darab</p>
        <p>{{product.quantityAvailable}} raktáron</p>
        <h5><span>{{product.price}} Ft</span></h5>
        <div class="action">
          <button class="add-to-cart btn btn-default mr-1" type="button">Kosárba</button>
          <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <hr>
        <p class="product-description justify">{{product.description}}</p>
      </div>
    </div>
  </div>
</div>
