.product-text-area{
  resize: none;
}
.image-thumbnail {
  max-height: 100px;
  max-width: 100px;
  margin-top: 5px !important;
}

.image-thumbnail-div{
  margin: 5px;
}

.image-thumbnail-div:hover {
  cursor: pointer;
}
