<div fxLayout="row" fxLayoutAlign="center center" class="page_404">
  <div fxFlex="80" fxLayout="column" fxLayoutAlign="center" class="container">
    <div fxLayout="column" fxLayoutAlign="center center" class="text">
      <h1 class="mat-h1 top">404</h1>
      <h2 class="mat-h2">Az oldal nem található!</h2>
    </div>
    <div fxFlex="90" fxLayout="column">
      <div  fxLayoutAlign="center center" class="four_zero_four_bg">
        <img fxFlex.lg="60"  fxFlex.gt-lg="80" fxFlex="100" src="assets/images/404not%20found_bcgimage.gif" alt="Page-Not-Found">
      </div>

      <div fxLayoutAlign="center" class="contant_box_404">
        <h1 class="mat-h1">
          Valaki valahol elrontott valamit. Mi vagy Ön, esetleg a rendszer hibázott.
          <br>
          Pontosan tudjuk, mit érez. Dühöngje ki magát, és <a routerLink="/">térjen vissza a címlapra.</a>
        </h1>
      </div>
    </div>
  </div>
</div>
