<div class="containerX" fxLayoutAlign="center" [style.margin-top]="'25px'" [style.margin-bottom]="'25px'">
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-md="column" fxFlex.lt-md="100" fxFlex.gt-sm="80"
       fxLayoutAlign.lt-md="center" fxLayoutAlign="space-evenly start">
    <div fxFlex.lt-lg="100" fxFlex.gt-md="60" *ngIf="cart?.cartItems.length > 0" ngStyle.lt-lg="{'margin':0px}">
      <mat-card class="mat-elevation-z8" fxFlex="100" fxLayout="column">
        <mat-card-header>
          <mat-card-title class="cart-header-text">
            <mat-icon>shopping_cart</mat-icon>
            Kosár (<span>{{ cart?.cartItems.length }}</span> termék)
          </mat-card-title>
        </mat-card-header>

        <div class="cart-product-card" *ngFor="let item of cart?.cartItems" fxLayout="row wrap"
             fxLayoutAlign="space-between center">

          <div class="" fxFlex.gt-xs="30" fxFlex.xs="100" fxLayout="row">
            <img mat-card-image class="cart-product-preview-img" fxFlex="100" [src]="item.product.pictureUrl"
                 alt="product-picture">
          </div>

          <div fxLayout="column" fxFlex.gt-xs="60" fxFlex.xs="100">

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between stretch">
              <mat-card-header fxLayout="column" fxFlex="75">
                <mat-card-title>{{ item.product.name }}</mat-card-title>
                <mat-card-subtitle class="cart-product-text">Termék
                  kód: {{ item.product.productCode }}</mat-card-subtitle>
                <mat-card-subtitle class="cart-product-text">Garancia: {{ item.product.warrantyMonths }}hónap
                </mat-card-subtitle>
              </mat-card-header>

              <mat-form-field appearance="outline" fxFlex="20">
                <mat-label>Mennyiség</mat-label>
                <mat-select [(ngModel)]="item.count" #t
                            (selectionChange)="refreshProductCount(item.product.id, t.value)" name="count">
                  <mat-option *ngFor="let count of [].constructor(item.product.quantityAvailable); let idx = index"
                              [value]="idx + 1">{{idx + 1}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="" fxFlex="100" fxLayout="row">

              <mat-card-header *ngIf="item.product.discount">
                <mat-card-title class="text-red">
                  {{ (item.product.price / 100) * (100 - item.product.discount) | hufCurrency }}
                </mat-card-title>
                <mat-card-subtitle>
                  <del>
                    {{ item.product.price | hufCurrency }}
                  </del>
                  &nbsp;(-{{ item.product.discount }} %)
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-header *ngIf="!item.product.discount">
                <mat-card-subtitle>
                  {{ item.product.price | hufCurrency }}
                </mat-card-subtitle>
              </mat-card-header>
            </div>

            <mat-card-actions fxLayout="row" fxFlex="100">
              <div>
                <button mat-button [color]="'primary'" (click)="removeProduct(item.id)"
                        aria-label="Delete product from cart">
                  <mat-icon>delete</mat-icon>
                  Törlés
                </button>
              </div>
              <div>
                <button mat-button [color]="'primary'" aria-label="Add product to favorites instead of cart">
                  <mat-icon>favorite</mat-icon>
                  Kedvencekhez
                </button>
              </div>
            </mat-card-actions>
          </div>
          <mat-divider class="divider-primary-colored" inset="true"
                       *ngIf="cart.cartItems.indexOf(item) != cart.cartItems.length - 1"></mat-divider>
        </div>
      </mat-card>
    </div>

    <div fxFlex.lt-lg="100" [ngStyle.lt-lg]="{'margin-top': '10px'}" fxFlex.gt-md="35" fxLayout="column"
         fxLayoutGap="10px" *ngIf="cart?.cartItems.length > 0">
      <mat-card fxFlex="100" class="mat-elevation-z8">
        <mat-card-header>
          <mat-icon mat-card-avatar>local_shipping</mat-icon>
          <mat-card-title>Szállítási módok:</mat-card-title>
        </mat-card-header>
        <mat-radio-group aria-labelledby="delivery-options" class="delivery-radio-group" *ngIf="currentShipping"
                         fxLayout="column" fxLayoutGap="10px" [(ngModel)]="currentShipping.method"
                         (ngModelChange)="updateShippingMethod()">
          <mat-radio-button color="primary" *ngFor="let shipping of shippingData" [value]="shipping?.method"
                            class="delivery-radio-button" fxFlex="100">
            {{ shipping.method | titlecase }} ({{ shipping.days }} munkanap)
            {{ shipping.cost | hufCurrency }}
          </mat-radio-button>

        </mat-radio-group>

        <mat-divider class="divider-primary-colored" inset="true"></mat-divider>
        <mat-card-subtitle [style.margin-top]="'10px'">Várható szállítás*:</mat-card-subtitle>
        <mat-card-content *ngIf="expectedDeliveryDate">{{ expectedDeliveryDate | titlecase }}</mat-card-content>
        <mat-card-subtitle [style.margin-top]="'10px'">
          * 14:00 után leadott rendelések a következő munkanapon kerülnek feldolgozásra.
        </mat-card-subtitle>
      </mat-card>

      <mat-expansion-panel class="mat-elevation-z8" fxFlex="100" *ngIf="cart?.cartItems.length > 0">
        <mat-expansion-panel-header>
          Ajándékutalvány
        </mat-expansion-panel-header>

        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Utalvány</mat-label>
          <input matInput placeholder="">
          <mat-hint></mat-hint>
        </mat-form-field>

        <mat-action-row>
          <button mat-flat-button materialElevation [color]="'primary'">
            <mat-icon>done</mat-icon>
            Küldés
          </button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-card class="mat-elevation-z8 cart-calculates-section" fxFlex="100" *ngIf="cart?.cartItems.length > 0">
        <mat-card-header>
          <mat-icon mat-card-avatar>payment</mat-icon>
          <mat-card-title>Összesítés:</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div fxLayout="row wrap" fxLayoutAlign="space-between space-between">
            <mat-card-title><small>Kosár összege:</small></mat-card-title>
            <div>{{ cart?.itemsTotalPrice | hufCurrency }}</div>
          </div>
          <mat-divider class="divider-primary-colored" inset="true"></mat-divider>

          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-card-title><small>Szállítás összege:</small></mat-card-title>
            <div>{{ cart?.shippingMethod.cost | hufCurrency}}</div>
          </div>
          <mat-divider class="divider-primary-colored" inset="true"></mat-divider>

          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-card-title><small>Végösszeg:</small></mat-card-title>
            <mat-card-title class="cart-product-text">{{ cart?.totalPrice | hufCurrency}}</mat-card-title>
          </div>
        </mat-card-content>

        <mat-card-actions fxLayoutAlign="center" [style.margin-bottom]="'10px'">
          <a mat-flat-button materialElevation [color]="'primary'" type="button" [disabled]="loading"
             (click)="checkout()" aria-label="Checkout button">
            <mat-icon>done</mat-icon>
            Véglegesítés
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-card fxFlex="100" fxLayout="column" fxLayoutAlign="center center" *ngIf="cart?.cartItems.length == 0">
      <mat-card-title>
        A kosár jelenleg üres.
      </mat-card-title>
    </mat-card>

  </div>
</div>
