<div class="containerX" fxLayoutAlign="center" [style.margin-top]="'25px'" [style.margin-bottom]="'25px'">
  <mat-card class="mat-elevation-z4" fxLayout="column" fxLayoutGap="10px" fxFlex.lt-md="100"
            fxFlex.lg="80" fxLayoutAlign="center" fxFlex.md="80" fxFlex.gt-lg="80">

    <div fxFlex="100">

    <mat-tab-group animationDuration="1000ms" fxFlex="100">

      <mat-tab label="Bejövő üzenetek ( {{ unreadIncomingCount }} új )" fxLayout="column" fxFlex="100">
        <div fxLayout="row wrap">

          <mat-expansion-panel *ngFor="let message of incomingMessages"
                               (opened)="setMessageRead(message)" fxFlex="100">
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="{'unread': !message.read}">
                {{ message.sender }}
              </mat-panel-title>
              <mat-panel-description [ngClass]="{'unread': !message.read}">
                {{ message.subject }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card-subtitle>{{ formatMessageSentDate(message.timestamp) }}</mat-card-subtitle>
            <br>
            <mat-card-title>{{ message.subject }}</mat-card-title>
            <br>
            <p>{{ message.content }}</p>

            <mat-card-actions>
              <button mat-stroked-button color="primary" (click)="openNewMessageDialog(message.sender)">
                <mat-icon>reply</mat-icon>
                Válasz
              </button>

              <button mat-stroked-button color="warn" (click)="openMessageDeleteDialog(message)">
                <mat-icon>delete</mat-icon>
                Törlés
              </button>

            </mat-card-actions>
            <mat-divider class="divider-primary-colored"></mat-divider>
          </mat-expansion-panel>
        </div>

      </mat-tab>


      <mat-tab label="Kimenő üzenetek" fxLayout="column" fxFlex="100">
        <div fxLayout="row wrap">

          <mat-expansion-panel *ngFor="let message of outgoingMessages" fxFlex="100">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ message.receiver }}
              </mat-panel-title>
              <mat-panel-description>
                {{ message.subject }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card-subtitle>{{ formatMessageSentDate(message.timestamp) }}</mat-card-subtitle>
            <br>
            <mat-card-title>{{ message.subject }}</mat-card-title>
            <br>
            <p>{{ message.content }}</p>

            <mat-card-actions>
              <button mat-stroked-button color="warn" (click)="openMessageDeleteDialog(message)">
                <mat-icon>delete</mat-icon>
                Törlés
              </button>

            </mat-card-actions>
            <mat-divider class="divider-primary-colored"></mat-divider>
          </mat-expansion-panel>
        </div>

      </mat-tab>

    </mat-tab-group>
    </div>


  </mat-card>
</div>
