<form [formGroup]="userDataForm">
  <mat-card formGroupName="billingAddress" >
    <mat-card-header>
      <mat-card-title>Billing Address</mat-card-title>
      <mat-card-subtitle>Details</mat-card-subtitle>
    </mat-card-header>
    <div fxLayout="column">

      <mat-form-field appearance="outline">
        <mat-label>Város</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Utca</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Város</mat-label>
        <input matInput formControlName="floor">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Iranyitószám</mat-label>
        <input matInput formControlName="postcode">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ország</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
    </div>
  </mat-card>
</form>
