<div class="privacy-container" fxLayout="containerX" fxLayoutAlign="center center">
  <div fxFlex="80" fxLayout="column" fxLayoutAlign="start">
    <mat-card fxFlex="100">
      <h1 class="mat-display-1" fxLayoutAlign="center center">Adatvédelem</h1>
      <h2 class=".mat-display-2">
        1. AZ GMIStore TÖBBEK KÖZÖTT AZ ITT FELSOROLT ADATKEZELÉSEKKEL KAPCSOLATBAN KEZELI A SZEMÉLYES ADATAIDAT
      </h2>
      <p class=".mat-body">
      <h3 class=".mat-h3">1.1. A weboldalunkon történő vásárlás és az ehhez kapcsolódó szolgáltatások</h3>
      <p>
        Itt többek között a regisztrációval kapcsolatos adataid tároljuk. Ez lehetővé teszi, hogy vásárolni tudj az
        GMIStore webáruházban, a vásárlásod után ki tudjuk számodra állítani a számlát, illetve, hogy meg tudjunk téged
        különböztetni a többi vásárlótól. Ezen adataid alapján tudjuk a közöttünk létrejött szerződést teljesíteni,
        ugyanis webáruház lévén az esetek jelentős hányadában házhozszállítással teljesítjük a megrendelésed. Az itt
        megadott adatok szolgálnak a kapcsolattartásra is, például abban az esetben, ha valamilyen információt
        szeretnénk
        veled közölni a megrendeléseddel kapcsolatban.

        A weboldalunkon történő vásárlással kapcsolatos részletes tájékoztatónkat az Általános Adatvédelmi Szabályzatunk
        1. számú Mellékleteként érheted el vagy az alábbi linken.
      </p>

      <p>

      <h3 class=".mat-h3">1.2. Hírleveleinkkel kapcsolatos adatkezelés</h3>
      <p>
        Fontos számunkra, hogy amennyiben érdekesnek találod, akkor megfelelő ajánlatokat tudjunk neked küldeni email
        üzenet formájában. Hírlevelet csak abban az esetben küldünk neked, ha a regisztrációval egyidejűleg, vagy
        regisztráció nélkül erre külön feliratkozol. Tudnod kell azonban, hogy ezek az e-mailek marketing célt
        szolgáltnak
        és az GMIStore aktuális akcióit kedvezményeit tartalmazzák.

        A hírlevelekkel kapcsolatos részletes tájékoztatónkat az Általános Adatvédelmi Szabályzatunk 2. sz.
        mellékleteként
        érheted el vagy az alábbi linken.
      </p>


      <h3 class=".mat-h3">1.3. Nyereményjátékokkal, kívánságlistákkal kapcsolatos adatkezelés</h3>
      <p>
        Időszakonként szoktunk nyereményjátékokat szervezni. Ezzel kapcsolatosban szükség van arra, hogy a nyerteseket
        ki
        tudjuk értesíteni, illetve arra is, hogy be tudjuk azonosítani a nyerteseinket. Így tehát nyilvántartást
        vezetünk
        a játékban résztvevőkről, illetve szükség esetén felvesszük a kapcsolatot a nyertesekkel. Amennyiben
        kívánságlistával kitöltésével egy időben hozzájárulsz a hírlevél küldéshez is, akkor számodra hírlevelet fogunk
        küldeni.

        A nyereményjátékokkal kapcsolatos részletes tájékoztatónkat az egyes nyereményjátékokhoz külön készített
        adatkezelési tájékoztatójában érheted el..

      </p>

      <h3 class=".mat-h3">1.4. Üzletben történő vásárlással és az ehhez kapcsolódó szolgáltatásokkal kapcsolatos
        adatkezelések</h3>
      <p>

        A vásárlással kapcsolatos adataidat a vállalatirányitási rendszerünkben tároljuk elektronikus formában.
        Természetesen egy vásárlás során papír alapon is tárolódnak személyes adatok, így ezek megfelelő tárolásáról és
        kezeléséről is gondoskodunk. Ezen adatkezelés célja szintén az, hogy vásárolni tudj a szaküzletünkben és ki
        tudjuk
        állítani a megfelelő számlát a vásárlásodról. Itt többek között a nevedet, számlázási címedet, a termék
        vételárát
        és egyéb a vásárláshoz kapcsolódó adataidat tároljuk.

      </p>


      <h3 class=".mat-h3">1.5. Ügyfélszolgálathoz és panaszkezeléshez, garancia érvényesítéséhez kapcsolódó
        adatkezelések</h3>
      <p>
        Az GMIStore ügyfélszolgálatot üzemeltet annak érdekében, hogy a vásárlóinkkal tudjuk a kapcsolatot tartani. Ezen
        platform szolgál arra is, hogy az esetleges minőségi kifogásokat kezeljük. Ügyfélszolgálatunkkal a kapcsolatot
        mind email üzenetben, mind postai levélben, mind pedig telefonon fel tudod venni. Az Ügyfélszolgálatot az
        szaküzleteinkben is igénybe veheted, ugyanis az észrevételidet, minőségi kifogásaidat a szaküzletekben is
        előterjesztheted. Ilyen esetekben jegyzőkönyvet veszünk fel, amely esetén jogszabály írja elő a kezelt adatok
        körét. Ilyen adatok többek között a neved, a címed, az általad vásárolt fogyasztási cikk megnevezése és az
        általad
        érvényesíteni kívánt jog.

        Ezzel kapcsolatos részletes tájékoztatónkat az Általános Adatvédelmi Szabályzatunkban érheted el az alábbi
        linken.

      </p>

      <h3 class=".mat-h3">1.6. Hitel- és biztosításközvetítéssel, Telenor termékekkel és Otthon melege programmal
        kapcsolatos adatkezelések</h3>
      <p>
        Az GMIStore lehetővé teszi számodra, hogy a náluk megvásárolt termékek vételárát ne egy összegben, hanem egy
        bank
        segítségével részletekben fizesd ki. Ebben az esetben társaságunk közvetítőként jár el és csak a
        kölcsön-szerződés
        továbbításáig kezeljük a hitellel kapcsolatos személyes adataidat. Hitel igénybevételére mind online mind pedig
        szaküzleteinkben lehetőséged van.

        Amennyiben szükségesnek találod meghatározott termékekre köthetsz biztosítást is, amely esetben az GMIStore
        szintén közvetítőként jár el. Ilyen esetben szintén csak továbbítjuk az általad megadott személyes adatokat a
        biztosítónak.

        Bizonyos termékek (általában: notebook, vagy tablet) értékesítése esetén igényelhetsz Telenor szolgáltatást is,
        ebben az esetben szintén csak továbbítjuk az adatokat a szolgáltatónak.

        A Nemzeti Fejlesztési Minisztérium pályázatot tett közé, annak érdekében, hogy a vásárlók a meglévő nagy
        háztartási gépeiket, új berendezésekre cseréljék. Az GMIStore szerepel a minisztérium által jóváhagyott
        kereskedők
        listáján. Ebben az esetben tehát a minisztérium számít adatkezelőnek, társaságunk továbbítja a szükséges
        dokumentumokat.

        A fenti szolgáltatásokkal kapcsolatos részletes tájékoztatónkat az Általános Adatvédelmi Szabályzatunkban
        érheted
        el az alábbi linken.
      </p>


      <h3 class=".mat-h3">1.7. Kamerarendszerek</h3>
      <p>
        Személy- és vagyoni védelmi okokból az GMIStore szaküzleteiben kamerák kerültek elhelyezésre, amelyek
        folyamatosan
        rögzítik az ott történteket. Ezek a kamerák közvetlen és rögzített megfigyelést tesznek lehetővé.

        Ezzel kapcsolatos részletes tájékoztatónkat az Általános Adatvédelmi Szabályzatunk 4. sz. mellékleteként érheted
        el vagy az alábbi linken.

      </p>

      <h3 class=".mat-h3">1.8. Profilalkotás</h3>
      <p>
        Hozzájárulás alapján profilalkotást végezünk annak érdekében, hogy az igényeidnek, kívánságodnak és érdeklődési
        körödnek megfelelően kialakított ajánlatokkal szolgálhassunk. Az ajánlatokat hírlevélen keresztül juttathatjuk
        el,
        e-mailben, vagy a weboldalon jeleníthetjük meg. Profilalkotás a személyes adatok automatizált kezelésének
        bármely
        olyan formája, amelynek során a személyes adatokat a felhasználóhoz fűződő bizonyos személyes jellemzők
        értékelésére (pl. személyes preferenciákhoz, érdeklődéshez, egészségi állapothoz, viselkedéshez, tartózkodási
        helyhez vagy mozgáshoz kapcsolódó jellemzők) elemzésére, vagy előrejelzésére használjuk.

      </p>
      <h3 class=".mat-h3">1.9. Süti kezelés</h3>

      A kényelmes vásárlási élmény érdekében sütiket használunk a tartalom és a közösségi funkciók biztosításához, a
      weboldal forgalmunk elemzéséhez és reklámozás céljából. A süti kezelésre vonatkozó tájékoztatónkat az alábbi
      linken érheted el.
      <br>
      <br>
      <br>
      <h2>
        2. MILYEN JOGAIM VANNAK A SZEMÉLYES ADATOK KEZELÉSÉVEL, FELDOLGOZÁSÁVAL KAPCSOLATBAN?
      </h2>
      <p>
        Nagyon fontos számunkra, hogy megfelelően tudjunk téged tájékoztatni a személyes adataidról, illetve az is
        fontos,
        hogy az ezzel kapcsolatos jogaidat megfelelően tudd gyakorolni. Összeszedtük, hogy az adatkezeléssel
        kapcsolatosan
        milyen jogok illetnek meg téged.
      </p>


      <h3 class=".mat-h3">2.1. Tájékoztatáshoz, valamint a kezelt személyes adatokhoz való hozzáféréshez való jog</h3>
      <p>
        Mint személyes adatok kezelésében érintett, jogosult vagy arra, hogy visszajelzést kapj tőlünk arra vonatkozóan,
        hogy személyes adataid kezelése folyamatban van-e nálunk, és ha folyamatban van, akkor jogosult vagy arra is,
        hogy
        a személyes adatokhoz és az ezzel kapcsolatos információkhoz hozzáférj. Ilyen információk többek között az
        általunk végzett adatkezelés célja, a személyes adatok kategóriái, kikkel közöljük a személyes adataid,
        személyes
        adataid tárolásának tervezett időtartama.

      </p>

      <h3 class=".mat-h3">2.2. Helyesbítés joga</h3>
      <p>
        Kérés esetén jogosult vagy arra, hogy a rád vonatkozó pontatlan személyes adatokat helyesbítsük. Ezzel
        kapcsolatban jogosult vagy arra is, hogy a hiányos személyes adataidat kiegészítsük.

      </p>

      <h3 class=".mat-h3">2.3. Törléshez vagy más néven elfeledtetéshez való jog</h3>
      <p>
        Amennyiben az itt felsorolt indokok valamelyik fennáll, akkor jogosult vagy arra, hogy kérésedre késedelem
        nélkül
        töröljük a személyes adataidat. Ezek az indokok az alábbiak:

        a) személyes adatokra már nincs szükség abból a célból, amelyből azokat gyűjtötték vagy más módon kezelték;

        b) az érintett visszavonja az adatkezelés alapját képező hozzájárulását, és az adatkezelésnek nincs más
        jogalapja;

        c) az érintett tiltakozik az adatkezelés ellen, és nincs elsőbbséget élvező jogszerű ok az adatkezelésre vagy
        amennyiben az adatkezelés közvetlen üzletszerzéshez kapcsolódna;

        d) a személyes adatokat jogellenesen kezelték;

        e) a személyes adatokat az adatkezelőre alkalmazandó uniós vagy tagállami jogban előírt jogi kötelezettség
        teljesítéséhez törölni kell;

        f) a személyes adatok gyűjtésére információs társadalommal összefüggő szolgáltatások kínálásával kapcsolatosan
        került sor.

      </p>

      <h3 class=".mat-h3">2.4. Az adatkezelés korlátozásához való jog</h3>
      <p>
        Amennyiben az itt felsorolt indokok valamelyike fennáll, akkor jogosult vagy arra, hogy kérésedre korlátozzuk a
        személyes adatok kezelését. Ezek az indokok az alábbiak:

        a) az érintett vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az időtartamra vonatkozik,
        amely lehetővé teszi, hogy az érintett ellenőrizze a személyes adatok pontosságát;

        b) az adatkezelés jogellenes, és az érintett ellenzi az adatok törlését, és ehelyett kéri azok felhasználásának
        korlátozását;

        c) az Adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de az érintett igényli azokat
        jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy

        d) az érintett az Adatkezelő közérdeken vagy jogos érdeken alapuló adatkezelése kapcsán tiltakozott az
        adatkezelés
        ellen; ez esetben a korlátozás arra az időtartamra vonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő
        jogos indokai elsőbbséget élveznek-e az érintett jogos indokaival szemben.

        Amennyiben az adatkezelés a fentiek alapján korlátozás alá esik, az ilyen személyes adatokat a tárolás
        kivételével
        csak a hozzájárulásoddal, vagy jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez, vagy más
        természetes vagy jogi személy jogainak védelme érdekében, vagy az Unió, illetve valamely tagállam fontos
        közérdekéből lehet kezelni.
      </p>


      <h3 class=".mat-h3">2.5. Adathordozhatósághoz való jog:</h3>
      <p>
        Jogosult vagy arra is, hogy az általunk kezelt, rád vonatkozó személyes adatokat tagolt, széles körben használt,
        géppel olvasható formában megkapd és jogosult vagy arra is, hogy ezeket az adatokat egy másik adatkezelőnek
        továbbítsd anélkül, hogy ezt mi akadályoznánk. Erre akkor van lehetőséged, ha az adatkezelés hozzájáruláson,
        vagy
        szerződésen alapul és az adatkezelés automatizált módon történik.

        Ezzel kapcsolatban közvetlen továbbításra is van lehetőséged.

      </p>

      <h3 class=".mat-h3">2.6. Tiltakozáshoz való jog</h3>
      <p>
        Jogosult vagy arra, hogy a saját helyzeteddel kapcsolatos okból, bármikor tiltakozz a személyes adatait kezelése
        ellen, ha az adatkezelés például az GMIStorehoz kapcsolódó jogos érdeken alapul. Ezzel kapcsolatban azonban
        felhívjuk a figyelmed arra, hogy amennyiben megtiltod, vagy kéred az adatkezelés megszüntetését, akkor
        fennállhat
        az az eset is, hogy nem tudunk téged megfelelően kiszolgálni.
      </p>


      <h3 class=".mat-h3">2.7. Visszavonás joga</h3>
      <p>
        Természetesen jogosult vagy arra, hogy a hozzájárulásodon alapuló hozzájárulásodat, bármikor visszavond. Ez
        alapján tehát, ha például feliratkoztál a hírlevelünkre, akkor bármikor kérheted, hogy a továbbiakban ne
        küldjünk
        neked hírlevelet.
      </p>


    </mat-card>


  </div>
</div>
