<div fxLayout="column"  fxLayoutAlign="end end">
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="start none">
    <h2 mat-dialog-title fxFlex="100">Ez a weboldal is sütiket használ!</h2>
    <mat-dialog-content class="mat-typography" fxFlex="100">
      <p>A kényelmes vásárlási élmény érdekében sütiket használunk a tartalom és a közösségi funkciók biztosításához, a weboldal forgalmunk elemzéséhez és reklámozás céljából.
        <br>A weboldalon megtekintheted az <a id="privacy" tabindex="-1" routerLink="/privacy" target="_blank">Adatkezelési tájékoztatónkat</a> és a sütik használatának részletes leírását.</p>

      <p>A sütikkel kapcsolatos beállításaidat a későbbiekben bármikor módosíthatod a láblécben található <a
        routerLink="/cookies-privacy" tabindex="-1" target="_blank">Süti kezelési beállítások</a> feliratra kattintva.
      </p>
    </mat-dialog-content>


    <mat-dialog-actions align="start">
      <button mat-button mat-dialog-close id="gdpr-btn">OK</button>
    </mat-dialog-actions>

  </div>

</div>



