<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="pic">
    <th mat-header-cell *matHeaderCellDef>Kép</th>
    <td mat-cell *matCellDef="let element">
      <img
        [ngStyle]="{'height': '100px','margin': '10px'}"
        src="{{element.product.pictureUrl}}"
        alt="Product picture"
      ></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Név</th>
    <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Mennyiség</th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Ár</th>
    <td mat-cell *matCellDef="let element"> {{element.price | hufCurrency}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
