.preview-image {
  max-height: 100px;
  max-width: 100px;
}
.rating-bar-text{
  padding-top: 12px;
}

.rating-positive-icon{
  color: green;
}

.rating-negative-icon{
  color: red;
}

.rating-comment{
  resize: none;
}
