<div class="containerX" fxLayoutAlign="center" [style.margin-top]="'1%'">
  <div fxLayout="row wrap" fxFlex.lt-md="100" fxFlex.gt-sm="80" fxLayoutAlign="start" fxLayoutGap="10px">

    <!--    <mat-card fxFlex="18" fxHide.lt-md class="options-panel mat-elevation-z5" fxLayout="row wrap"-->
    <!--              fxLayoutGap="10px" fxLayoutAlign="start start">-->

    <!--      <mat-card-header fxFlex="100">-->
    <!--        <mat-card-title>-->
    <!--          Szűrés:-->
    <!--        </mat-card-title>-->
    <!--      </mat-card-header>-->
    <!--      <mat-divider inset="true" class="divider-accent-colored"></mat-divider>-->

    <!--      <div fxFlex="100" fxLayout="row wrap">-->
    <!--        <mat-card-header fxFlex="100">-->
    <!--          <mat-card-subtitle>Minimum ár:</mat-card-subtitle>-->
    <!--        </mat-card-header>-->

    <!--        <mat-slider min="1" color="primary" [max]="maximumPrice - 1" step="500" [(ngModel)]="minimumPrice" thumbLabel-->
    <!--                    fxFlex="100" [displayWith]="formatLabel" (change)="updateMinimumPrice(minPrice)">-->
    <!--        </mat-slider>-->

    <!--        <mat-card-header fxFlex="100">-->
    <!--          <mat-card-subtitle>Maximum ár:</mat-card-subtitle>-->
    <!--        </mat-card-header>-->

    <!--        <mat-slider min="2" color="primary" [max]="maximumPrice" step="500" [(ngModel)]="maximumPrice" thumbLabel-->
    <!--                    fxFlex="100" [displayWith]="formatLabel" (change)="updateMaximumPrice(maxPrice)">-->
    <!--        </mat-slider>-->
    <!--        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">-->
    <!--          <mat-form-field appearance="outline" fxFlex="30">-->
    <!--            <mat-label>Min. ár</mat-label>-->
    <!--            <input matInput placeholder="" #minPrice formControlName="minimumPrice" [value]="minimumPrice.toString()">-->
    <!--          </mat-form-field>-->

    <!--          <mat-form-field appearance="outline" fxFlex="30">-->
    <!--            <mat-label>Max. ár</mat-label>-->
    <!--            <input matInput placeholder="" #maxPrice formControlName="maximumPrice" [value]="maximumPrice.toString()">-->
    <!--          </mat-form-field>-->

    <!--        </div>-->
    <!--      </div>-->
    <!--      <span class="spacer"></span>-->
    <!--      <div fxFlex="100" fxLayoutAlign="end">-->
    <!--        <button mat-button materialElevation color="primary">-->
    <!--          <mat-icon>filter_list</mat-icon>-->
    <!--          Szűrés-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </mat-card>-->
    <!--TODO to continue later, when there is more filter options become available-->

    <div fxFlex.gt-md="80" fxFlex.md="80" fxLayout="row wrap" fxLayoutAlign.lt-md="space-evenly">
      <mat-card class="product-card" fxFlex.lt-md="47" fxFlex.md="30" fxFlex.gt-md="20"
                materialElevation *ngFor="let product of products">
        <div fxFlexFill fxLayoutAlign="center" fxLayout="column">
          <ng-template [ngIf]="product.discount > 0">
            <div class="discounted-product-badge">
              <p class="discounted-product-text">
                - {{ product.discount}} <span>%</span>
              </p>
            </div>
          </ng-template>
          <a [routerLink]="['/product', product.slug]">
            <img class="product-card-image" mat-card-image [src]="product.pictureUrl" alt="{{ product.name }} image"
                 [style.margin-top]="'5px'" [ngClass.lt-xl]="{'image-xs': true}" [ngClass.xl]="{'image-xl': true}">
          </a>
          <div fxLayoutAlign="center" class="product-title-div">
            <mat-card-title class="product-title">{{ product.name | slice: 0: 40 }}</mat-card-title>
          </div>

          <star-rating [starType]="'svg'" [showHalfStars]="true"
                       [rating]="product.averageRating"
                       [readOnly]="true" staticColor="ok">
          </star-rating>

          <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayoutAlign="start center" fxLayout="column">
              <mat-card-subtitle fxFlex="100"
                                 class="text-green" *ngIf="product.quantityAvailable > 0; else notInStock">
                {{ product.quantityAvailable }} raktáron
              </mat-card-subtitle>

              <ng-template #notInStock>
                <mat-card-subtitle fxFlex="100">
                  Nincs raktáron
                </mat-card-subtitle>
              </ng-template>
            </div>
            <span class="spacer"></span>

            <div fxFlex="100" *ngIf="product.discount; else noDiscountTemplate" fxLayoutAlign="center center"
                 fxLayout="column">
              <mat-card-subtitle fxFlex="100">
                <del>{{ product.price | hufCurrency }}</del>
                &nbsp;(- {{ product.discount }}% )
              </mat-card-subtitle>

              <mat-card-title class="text-red product-price" fxFlex="100">
                {{ calculateDiscountedPrice(product) | hufCurrency }}
              </mat-card-title>
            </div>
          </div>

          <ng-template #noDiscountTemplate>
            <mat-card-header fxLayoutAlign="center">
              <mat-card-title class="text-red product-price" fxFlex="100">
                {{ product.price | hufCurrency }}
              </mat-card-title>
            </mat-card-header>
          </ng-template>

          <mat-card-actions class="product-card-actions" fxLayoutAlign="end end" fxLayout="row">
            <a mat-icon-button [routerLink]="['/product/', product.slug]" [color]="'primary'" matTooltip="Részletek"
               matTooltipPosition="above">
              <mat-icon>info</mat-icon>
            </a>
            <span class="spacer"></span>
            <button mat-icon-button *ngIf="product.quantityAvailable > 0" (click)="addToCart(product.id)"
                    [color]="'primary'">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>

            <button mat-icon-button [color]="'primary'">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>

        </div>
      </mat-card>
    </div>
  </div>
</div>

