<div class="containerX" fxLayoutAlign="center" [style.margin-top]="'1%'">
  <div fxLayout="row wrap" fxFlex.lt-md="100" fxFlex.gt-sm="80" fxLayoutAlign="space-evenly start">

    <div fxFlex.gt-md="17" fxFlex.md="20" fxHide.lt-md fxLayout="column" fxLayoutGap="10px">
      <mat-card class="mat-elevation-z8" fxFlex="100" *ngIf="products">

        <div fxLayout="column" fxLayoutAlign="start">
          <mat-panel-title class="mb-10"><strong>Elérhetőség</strong></mat-panel-title>

          <mat-checkbox [(ngModel)]="notInStock">Nincs raktáron</mat-checkbox>
          <mat-checkbox [(ngModel)]="nonDiscounted" *ngIf="!deals">Nem akciós</mat-checkbox>
          <mat-checkbox [(ngModel)]="discounted" *ngIf="!deals">Akciós</mat-checkbox>

          <div fxFlex="100">
            <mat-divider inset="true" class="divider-primary-colored"></mat-divider>
          </div>

          <div fxFlex="100" fxLayout="column" class="mb-15">
            <mat-panel-title><strong>Ár</strong></mat-panel-title>
            <mat-slider class="mb-10" min="1" color="primary" [max]="maximumPrice - 1" step="500"
                        [(ngModel)]="minimumPrice"
                        thumbLabel name="Minimum ár" fxFlex="100" [displayWith]="formatLabel"
                        matTooltip="Minimum ár" matTooltipPosition="above"
                        (ngModelChange)="updateMinimumPrice(minPriceElement)">
            </mat-slider>

            <mat-slider class="mt-15 mb-10" [min]="minimumPrice + 1" color="primary" [max]="maxPrice" step="500"
                        [(ngModel)]="maximumPrice" matTooltip="Maximum ár" matTooltipPosition="above"
                        thumbLabel fxFlex="100" [displayWith]="formatLabel"
                        (ngModelChange)="updateMaximumPrice(maxPriceElement)"
            >
            </mat-slider>
          </div>
          <div [formGroup]="priceForm" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="45" fxFlex.md="100">
              <mat-label>Minimum ár</mat-label>
              <label>
                <input type="number" #minPriceElement (change)="updateMinimumPriceSlider(minPriceElement.value)"
                       matInput placeholder="" formControlName="minimumPrice" [min]="minPrice" [max]="maxPrice - 1">
              </label>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="45" fxFlex.md="100">
              <mat-label>Maximum ár</mat-label>
              <label>
                <input type="number" #maxPriceElement (change)="updateMaximumPriceSlider(maxPriceElement.value)"
                       matInput placeholder="" formControlName="maximumPrice" [min]="minimumPrice + 1" [max]="maxPrice">
              </label>
            </mat-form-field>
          </div>

          <div fxFlex="100">
            <mat-divider inset="true" class="divider-primary-colored"></mat-divider>
          </div>

          <div class="mt-15" fxLayout="column">
            <p fxFlex="100" class="mb-10"><strong>Legkisebb értékelés</strong></p>

            <ng-template let-id ngFor [ngForOf]="[5, 4, 3, 2, 1]">
              <mat-checkbox class="rating-checkbox" [checked]="lowestRating === id" (change)="lowestRating = id"
                            color="primary">
                <star-rating [readOnly]="true" [rating]="id" staticColor="ok">
                </star-rating>
              </mat-checkbox>
            </ng-template>

          </div>
        </div>

        <div class="mt-15" fxLayoutAlign="end end">
          <button mat-flat-button materialElevation [color]="'primary'" (click)="filterProducts()">
            <mat-icon>done</mat-icon>
            Szűrés
          </button>
        </div>
      </mat-card>
    </div>

    <div fxFlex.gt-md="82" fxFlex.md="78" fxFlex.sm="100" fxLayout="row wrap" fxLayoutAlign.lt-lg="space-evenly"
    fxLayoutGap.lg="10px" fxLayoutAlign.gt-md="space-evenly">
      <div fxLayout="column" fxFlex.lt-md="98" fxFlex="99" fxLayoutAlign="center" *ngIf="products">
        <mat-card class="list-header-panel mat-elevation-z8" fxFlex="100" fxLayout="row wrap">
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
            <p fxFlex="40">{{ categoryDisplayName }}</p>
            <p fxFlex.lt-md="20" fxFlex="40">{{ numberOfProducts }} termék</p>
            <button fxHide.gt-sm="true" mat-flat-button (click)="openFilterDialog()" color="primary">
              <mat-icon>filter_list</mat-icon> Szűrés
            </button>
          </div>
          <div *ngIf="filtering" fxFlex="45" fxLayout="row">
            <p (click)="removeFilters()" class="remove-filters">
              Minden szűrő törlése
            </p><span *ngIf="filtering">
          <mat-icon class="remove-filters">clear</mat-icon>
          </span>
          </div>
        </mat-card>
      </div>

      <mat-card class="product-card" fxFlex.xs="47" fxFlex.sm="31" fxFlex.md="31" fxFlex.lg="23" fxFlex.xl="19"
                materialElevation *ngFor="let product of products" fxLayoutAlign="row wrap">
        <div fxFlexFill fxLayoutAlign="center" fxLayout="column">
          <ng-template [ngIf]="product.discount > 0">
            <div class="discounted-product-badge">
              <p class="discounted-product-text">
                - {{ product.discount}} <span>%</span>
              </p>
            </div>
          </ng-template>
          <a [routerLink]="['/product', product.slug]">
            <img class="product-card-image" mat-card-image [src]="product.pictureUrl" alt="{{ product.name }} image"
                 [style.margin-top]="'5px'" [ngClass.lt-xl]="{'image-xs': true}" [ngClass.xl]="{'image-xl': true}">
          </a>
          <div fxLayoutAlign="center" class="product-title-div">
            <mat-card-title class="product-title">{{ product.name }}</mat-card-title>
          </div>

          <star-rating [starType]="'svg'" [showHalfStars]="true" class="star-ratings-section"
                       [rating]="product.averageRating"
                       [readOnly]="true" staticColor="ok">
          </star-rating>

          <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayoutAlign="start center" fxLayout="column">
              <mat-card-subtitle fxFlex="100"
                                 class="text-green" *ngIf="product.quantityAvailable > 0; else notInStock">
                {{ product.quantityAvailable }} raktáron
              </mat-card-subtitle>

              <ng-template #notInStock>
                <mat-card-subtitle fxFlex="100">
                  Nincs raktáron
                </mat-card-subtitle>
              </ng-template>
            </div>
            <span class="spacer"></span>

            <div fxFlex="100" *ngIf="product.discount; else noDiscountTemplate" fxLayoutAlign="center center"
                 fxLayout="column">
              <mat-card-subtitle fxFlex="100">
                <del>{{ product.price | hufCurrency }}</del>
                &nbsp;(- {{ product.discount }}% )
              </mat-card-subtitle>

              <mat-card-title class="text-red product-price" fxFlex="100">
                {{ calculateDiscountedPrice(product) | hufCurrency }}
              </mat-card-title>
            </div>
          </div>

          <ng-template #noDiscountTemplate>
            <mat-card-header fxLayoutAlign="center">
              <mat-card-title class="text-red product-price" fxFlex="100">
                {{ product.price | hufCurrency }}
              </mat-card-title>
            </mat-card-header>
          </ng-template>

          <mat-card-actions class="product-card-actions" fxLayoutAlign="end end" fxLayout="row">
            <a mat-icon-button [routerLink]="['/product/', product.slug]" [color]="'primary'" matTooltip="Részletek"
               matTooltipPosition="above">
              <mat-icon>info</mat-icon>
            </a>
            <a mat-icon-button [color]="'warn'" matTooltip="Törlés"
               *ngIf="isAdmin || product.addedBy === currentUsername"
               (click)="openDeleteProductDialog(product.id, product.name)">
              <mat-icon>delete</mat-icon>
            </a>

            <span class="spacer"></span>
            <button mat-icon-button matTooltip="Kosárba" matTooltipPosition="above"
                    *ngIf="product.quantityAvailable > 0"
                    (click)="addToCart(product.id)" [color]="'primary'">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Kedvencekhez" matTooltipPosition="above" [color]="'primary'"
                    (click)="addProductToFavorites(product.id)">
              <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>

        </div>
      </mat-card>

      <mat-card class="mat-elevation-z8" fxFlex.lt-md="97" fxFlex="99" *ngIf="products?.length > 0"
                [ngStyle.gt-sm]="{'margin-left': '3px'}">
        <mat-paginator #paginator [length]="numberOfProducts" [color]="'primary'" (focusin)="detectChanges()"
                       [pageSize]="pageSize" (page)="paginationEventHandler($event)"
                       [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
      </mat-card>

    </div>
  </div>
</div>

