<app-jumbotron>
  <h1 class="display-4 mb-4">Cuccok A-Z-ig</h1>
  <p class="lead">Itt kedvedre válogathatsz a rengeteg holmi között.
    Eladnád a már nem használt dolgaidat! Nem gond csak kattints az "Új termék létrehozása" gombra!
    a GMI STORE piacára!
  </p>
</app-jumbotron>

<div class="container my-5">
  <div class="row  justify-content-around px-5 ">

    <div class="col-auto text-center">
      <label>Keresés az termékek között</label>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Termék neve">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
      </form>
    </div>

    <div class="my-2 my-lg-0 text-center">
      <div>
        <label>Terméket szeretnék létrehozni</label>
      </div>
      <div class="w-100"></div>
      <div><a href="/add-product" target="_blank" class="btn btn-primary" role="button">Új termék létrehozása</a></div>
    </div>

  </div>

  <div class="container my-5">
    <div class="card-deck py-5">
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
      <app-product-card class="col col-sm-6 col-md-6 col-lg-4"></app-product-card>
    </div>
  </div>


</div>
