<div class="row">
  <div class="card product-card col-xl-3 col-lg-3 col-md-4 col-sm-12 my-1" *ngFor="let product of products">
    <a [routerLink]="['/product/', product.slug]">
      <img class="mt-1" [src]="product.pictureUrl" alt="{{ product.name }}" style="width:100%"/>
    </a>
    <h5 class="text-secondary mt-2 text-center">{{ product.name | slice:0:18 }}</h5>

    <div *ngIf="product.quantityAvailable == 0">
      <p class="text-danger text-center"> 0 raktáron</p>
    </div>

    <div *ngIf="product.quantityAvailable > 0">
      <h6 class="text-success">{{product.quantityAvailable}} raktáron</h6>
      <div *ngIf="product.discount == 0">
        <p class="price">{{ product.price }} HUF</p>
      </div>

      <div *ngIf="product.discount > 0">
        <p class="text text-danger">
          <small>
            <del>{{product.price}} HUF</del>
            ({{ product.discount }} %)
          </small>
        </p>
        <p class="price" [innerText]="calculateDiscountedPrice(product) + ' HUF' "></p>
      </div>
    </div>
    <p>
      <button class="btn btn-block btn-outline-primary">Kosárba</button>
    </p>
  </div>
</div>

