<div class="row">
  <div class="col-12 shadow rounded my-3 background-white">
    <form name="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 add-product-header rounded-top">
          <h5 class="text-white text-center my-3">Termék frissítése</h5>
        </div>
      </div>

      <div class="col-12 mt-3">
        <div class="form-label-group">
          <input type="text" [formControlName]="'name'" id="name" name="name" class="form-control"
                 [ngClass]="{'is-invalid': productForm.get('name').touched
                   && productForm.get('name').invalid}" placeholder="Megnevezés" disabled>
          <label for="name">Megnevezés</label>
          <small *ngIf="productForm.get('name').touched && productForm.get('name').invalid
              && !productForm.get('name').errors?.serverError" class="text-danger">
            Nem megfelelő megnevezés.
          </small>
        </div>

        <div class="form-label-group">
          <input type="text" [formControlName]="'productCode'" id="productCode" name="productCode"
                 [ngClass]="{'is-invalid': productForm.get('productCode').touched && productForm.get('productCode').invalid}"
                 class="form-control" placeholder="Termék azonosító" disabled>
          <label for="productCode">Termék azonosító</label>
          <small *ngIf="productForm.get('productCode').invalid && productForm.get('productCode').touched
            && !productForm.get('productCode').errors?.serverError" class="text-danger">
            Nem megfelelő termék azonosító.
          </small>
          <small class="text-danger" *ngIf="productForm.get('productCode').errors?.serverError">
            {{ productForm.get('productCode').errors?.serverError }}
          </small>
        </div>

        <div class="form-label-group">
          <select id="category" name="category" class="form-control" [formControlName]="'category'" required
                  [ngClass]="{'is-invalid': productForm.get('category').touched && productForm.get('category').invalid}">
            <option value="" hidden>Kategória</option>
            <option *ngFor="let category of categories | keyvalue"
                    [value]="category.key">{{ category.value }}</option>
          </select>
          <small *ngIf="productForm.get('category').invalid && productForm.get('category').touched
            && !productForm.get('category').errors?.serverError" class="text-danger">
            Kategória szükséges.
          </small>
          <small class="text-danger" *ngIf="productForm.get('category').errors?.serverError">
            {{ productForm.get('category').errors?.serverError }}
          </small>
        </div>

        <div class="form-label-group">
          <textarea rows="5" [formControlName]="'description'" id="description" name="description"
                    [ngClass]="{'is-invalid': productForm.get('description').touched
                    && productForm.get('description').invalid}" class="form-control product-text-area"
                    placeholder="Leírás"></textarea>
          <small *ngIf="productForm.get('description').invalid && productForm.get('description').touched
          && !productForm.get('description').errors?.serverError" class="text-danger">
            Leírás szükséges.
          </small>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="form-label-group">
              <input type="number" id="price" name="price" class="form-control" placeholder="Ár" required
                     [formControlName]="'price'" [ngClass]="{'is-invalid': productForm.get('price').touched
                    && productForm.get('price').invalid}">
              <small *ngIf="productForm.get('price').invalid && productForm.get('price').touched
              && !productForm.get('price').errors?.serverError" class="text-danger">
                Ár szükséges.
              </small>
              <label for="price">Ár</label>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="form-label-group">
              <input type="number" id="discount" name="discount" class="form-control" placeholder="Kedvezmény" min="0"
                     max="100" [formControlName]="'discount'" [ngClass]="{'is-invalid':
                     productForm.get('discount').touched && productForm.get('discount').invalid}">
              <label for="discount">Kedvezmény (%)</label>
              <small *ngIf="productForm.get('discount').invalid && productForm.get('discount').touched
              && !productForm.get('discount').errors?.serverError" class="text-danger">
                Kedvezmény (0 % - 100% ) szükséges.
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="form-label-group">
              <input type="number" id="warrantyMonths" name="warrantyMonths" class="form-control"
                     placeholder="Garancia (hónap)" min="0" [formControlName]="'warrantyMonths'"
                     [ngClass]="{'is-invalid': productForm.get('warrantyMonths').touched
                     && productForm.get('warrantyMonths').invalid}">
              <label for="warrantyMonths">Garancia (hónap)</label>
              <small *ngIf="productForm.get('warrantyMonths').invalid && productForm.get('warrantyMonths').touched
              && !productForm.get('warrantyMonths').errors?.serverError" class="text-danger">
                Garancia (0 - 360 hónap) szükséges.
              </small>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-3">
            <div class="form-label-group">
              <input type="number" id="quantityAvailable" name="quantityAvailable" class="form-control"
                     placeholder="Mennyiség" required [formControlName]="'quantityAvailable'"
                     [ngClass]="{'is-invalid': productForm.get('quantityAvailable').touched
                     && productForm.get('quantityAvailable').invalid}">
              <label for="quantityAvailable">Mennyiség</label>
              <small *ngIf="productForm.get('quantityAvailable').invalid && productForm.get('quantityAvailable').touched
              && !productForm.get('quantityAvailable').errors?.serverError" class="text-danger">
                Rendelhető mennyiség szükséges.
              </small>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="pictureUrl"></label>
          <input style="display:none" multiple accept="image/*" formControlName="pictureUrl"
                 id="pictureUrl" type="file" (change)="onFileChange($event)" #imageInput>
          <button type="button" class="btn btn-outline-primary" (click)="imageInput.click()">Képek kiválasztása
          </button>
          <small id="pictureUrlHelper" class="form-text text-muted">
            Max. 1MB / kép</small>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active" *ngFor="let picture of productPictures">
                <a class="preview-image"><img src="{{picture}}" alt="pic" width="100" height="100"
                                              (click)="removeImage(picture)"/></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="custom-control custom-checkbox my-2 mr-sm-2">
          <input type="checkbox" [formControlName]="'active'" class="custom-control-input" id="active">
          <label class="custom-control-label" for="active">Termék rendelhető?</label>
        </div>

        <div class="text-center my-3">
          <button class="btn btn-outline-primary btn-lg mr-2" [disabled]="loading" type="submit">
            <span *ngIf="loading" class="spinner-border mr-1"></span>
            Frissít
          </button>
          <button class="btn btn-outline-primary btn-lg" [disabled]="loading">
            Mégsem
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
