<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active': item.key ? router.isActive(item.key, true): false, 'expanded': expanded}">
  <mat-icon class="routeIcon" aria-label="Category list item icon"
  *ngIf="depth > 0">{{ item.icon }}</mat-icon>
  {{item.displayName}}

  <span fxFlex></span>
  <div class="arrow" *ngIf="!item.subCategories && item.key ? router.isActive(item.key, true): false">
    <div class="point"></div>
  </div>

  <span fxFlex *ngIf="item.subCategories && item.subCategories.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list-item *ngFor="let child of item.subCategories" [item]="child" [depth]="depth+1">
  </app-menu-list-item>
</div>
