<div class="containerX" fxLayoutAlign="center" [style.margin-top]="'25px'" [style.margin-bottom]="'25px'">
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-md="column" fxFlex.lt-md="100" fxFlex.lg="80"
       fxLayoutAlign="space-evenly start" [ngClass]="{'loading': loading}">

    <mat-vertical-stepper fxFlex="100" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="shippingAddressForm">
        <form [formGroup]="shippingAddressForm" fxLayout="row wrap">
          <ng-template matStepLabel fxFlex="100">Adataid: </ng-template>
          <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Vezetéknév</mat-label>
              <input matInput placeholder="" required>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Keresztnév</mat-label>
              <input matInput placeholder="" required>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="" required>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Telefon</mat-label>
              <input matInput placeholder="" required>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <div fxFlex="100">
              <button mat-button matStepperNext>Következő</button>
            </div>

          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="shippingAddressForm">
        <form [formGroup]="shippingAddressForm" fxLayout="row wrap">
          <ng-template matStepLabel fxFlex="100">Szállítási cím:</ng-template>

          <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Város</mat-label>
              <input matInput placeholder="" formControlName="city" required>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Utca/út</mat-label>
              <input matInput placeholder="" formControlName="street" required>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Házszám</mat-label>
              <input matInput placeholder="" formControlName="number" required>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Emelet</mat-label>
              <input matInput placeholder="" formControlName="floor" required>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Ajtó</mat-label>
              <input matInput placeholder="" formControlName="door" required>
            </mat-form-field>
          </div>

          <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px">

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Ország</mat-label>
              <input matInput placeholder="" formControlName="country" required>
            </mat-form-field>

            <mat-form-field fxFlex.lt-sm="100" fxFlex="25" appearance="outline">
              <mat-label>Irányítószám</mat-label>
              <input matInput placeholder="" formControlName="postcode" required>
            </mat-form-field>
          </div>

          <div fxFlex="100">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Következő</button>
          </div>

        </form>
      </mat-step>

      <mat-step [stepControl]="billingAddressForm">
        <form [formGroup]="billingAddressForm">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
