<mat-card-header>
  <mat-card-title class="cart-header-text">
    <div>
      <mat-icon>person</mat-icon>
      <span class="aligned-with-icon">Vásárló</span>
    </div>
  </mat-card-title>
</mat-card-header>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Név</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail</th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefonszám</th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="container-address">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="dropdown-button">
        <mat-panel-title class="cart-header-text">
          Szállítási cím
        </mat-panel-title>
        <mat-panel-description>
          Szállítási adatok
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>content</p>
      </div>
      <mat-action-row>
        <button mat-button>Mentés</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="dropdown-button">
        <mat-panel-title class="cart-header-text">
          Számlázási cím
        </mat-panel-title>
        <mat-panel-description>
          Számlázási adatok
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>content</p>
      </div>
      <mat-action-row>
        <button mat-button>Mentés</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-card-header>
  <mat-card-title class="cart-header-text">
    <div>
      <mat-icon>rule</mat-icon>
      <span class="aligned-with-icon">Státusz</span>
    </div>
  </mat-card-title>
</mat-card-header>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Név</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail</th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefonszám</th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--<div>-->
<!--<form [formGroup]="form">-->
<!--  <h4>mat-select</h4>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Favorite Food</mat-label>-->
<!--    <mat-select [formControl]="" name="food">-->
<!--      <mat-option>None</mat-option>-->
<!--      <mat-option *ngFor="let food of foods" [value]="food.value">-->
<!--        {{food.viewValue}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <p>Selected: {{foodControl.value}}</p>-->
<!--  <h4>Native select</h4>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Favorite Car</mat-label>-->
<!--    <select matNativeControl [formControl]="carControl" name="car">-->
<!--      <option value="">None</option>-->
<!--      <option *ngFor="let car of cars" [value]="car.value">-->
<!--        {{car.viewValue}}-->
<!--      </option>-->
<!--    </select>-->
<!--  </mat-form-field>-->
<!--  <p>Selected: {{carControl.value}}</p>-->
<!--</form>-->
<!--</div>-->

<mat-card-header>
  <mat-card-title class="cart-header-text">
    <div>
      <mat-icon>money</mat-icon>
      <span class="aligned-with-icon">Fizetendő</span>
    </div>
  </mat-card-title>
</mat-card-header>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Név</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail</th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefonszám</th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card-header>
  <mat-card-title class="cart-header-text">
    <div>
      <mat-icon>local_shipping</mat-icon>
      <span class="aligned-with-icon">Szállítás</span>
    </div>
  </mat-card-title>
</mat-card-header>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Név</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-mail</th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Telefonszám</th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
