table {
  width: 100%;
}

mat-card-header {
  margin-top: 20px;
}

.aligned-with-icon {
  position: relative;
  top: -4px;
  margin-left: 10px; /* optional */
}

.container-address {
  margin: 15px;

}
