<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between">
  <a [routerLink]="['/product', product.slug]" fxFlex.gt-xs="36" fxFlex.lt-sm="100">
    <img mat-card-image class="product-preview-img"
         [src]="product.pictureUrl" alt="product-picture">
  </a>

  <div fxLayout="column" fxFlex.gt-xs="60" fxFlex.xs="100">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between stretch">
      <mat-card-header fxLayout="column" fxFlex="75">
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle class="cart-product-text">Termék
          kód: {{ product.productCode }}</mat-card-subtitle>
        <mat-card-subtitle class="cart-product-text">Garancia: {{ product.warrantyMonths }}hónap
        </mat-card-subtitle>
      </mat-card-header>
    </div>

    <div class="" fxFlex="100" fxLayout="row">

      <mat-card-header *ngIf="product.discount">
        <mat-card-title class="text-red">
          {{ (product.price / 100) * (100 - product.discount) | hufCurrency }}
        </mat-card-title>
        <mat-card-subtitle>
          <del>
            {{ product.price | hufCurrency }}
          </del>
          &nbsp;(-{{ product.discount }} %)
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-header *ngIf="!product.discount">
        <mat-card-subtitle>
          {{ product.price | hufCurrency }}
        </mat-card-subtitle>
      </mat-card-header>
    </div>

    <mat-card-actions fxLayout="row" fxFlex="100" *ngIf="deleteAble">
      <a mat-button [routerLink]="['/product/', product.slug]" [color]="'primary'"
         aria-label="Product details">
        <mat-icon>info</mat-icon>
        Részletek
      </a>

      <div>
        <button mat-button [color]="'primary'" aria-label="Delete product from favorites"
        (click)="deleteProductFromFavorites()">
          <mat-icon>delete</mat-icon>
          Törlés
        </button>
      </div>

      <div>
        <button mat-button [color]="'primary'" aria-label="Add product to cart"
        (click)="addProductToCart()">
          <mat-icon>add_shopping_cart</mat-icon>
          Kosárba
        </button>
      </div>
    </mat-card-actions>

  </div>
</div>



