<div class="containerX" fxLayoutAlign="center" [style.margin-top]="'25px'" [style.margin-bottom]="'25px'">
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.lt-md="column" fxFlex.lt-md="100" fxFlex.gt-sm="80"
       fxLayoutAlign.lt-md="center" fxLayoutAlign="space-evenly start">
    <div >
      <mat-card class="mat-elevation-z8" fxFlex="100" fxLayout="column">

        <div class="cart-product-card" *ngFor="let item of products" fxLayout="row wrap"
             fxLayoutAlign="space-between center" fxLayoutGap="10px">

          <div class="" fxFlex.gt-xs="30" fxFlex.xs="100" fxLayout="row">
            <img mat-card-image class="cart-product-preview-img" fxFlex="100" [src]="item.pictureUrl"
                 alt="product-picture">
          </div>

          <div fxLayout="column" fxFlex.gt-xs="60" fxFlex.xs="100">

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between stretch">
              <mat-card-header fxLayout="column" fxFlex="75">
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-title>{{ item.orderItemId }}</mat-card-title>
                <mat-card-subtitle class="cart-product-text">Termék
                  kód: {{ item.productCode }}</mat-card-subtitle>
              </mat-card-header>
            </div>

            <div class="" fxFlex="100" fxLayout="row">
              <mat-card-header *ngIf="item.discount">
                <mat-card-title class="discounted-price">
                  {{ (item.price / 100) * (100 - item.discount) |
                  currency: 'HUF': 'symbol-narrow': '2.0' }}
                </mat-card-title>
                <mat-card-subtitle>
                  <del>
                    {{ item.price | currency: 'HUF': 'symbol-narrow': '2.0'}}
                  </del>
                  ({{ item.discount }} %)
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-header *ngIf="!item.discount">
                <mat-card-subtitle>
                  {{ item.price | currency: 'HUF': 'symbol-narrow': '3.0'}}
                </mat-card-subtitle>
              </mat-card-header>
            </div>
          </div>
          <mat-divider class="divider-primary-colored" inset="true"></mat-divider>
        </div>
      </mat-card>
    </div>
  </div>
</div>



