<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <mat-card class="box mat-elevation-z5">

    <mat-card-header [style.margin-bottom]="'2%'">
      <mat-card-subtitle>Új jelszó létrehozása</mat-card-subtitle>
    </mat-card-header>

    <form class="login-form" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Jelszó</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint></mat-hint>
        <mat-error *ngIf="newPasswordForm.get('password').invalid">
          Nagybetűt, spec. karaktert, számot tartalmazzon!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-full-width" appearance="outline">
        <mat-label>Jelszó ismét</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="confirmPassword">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint></mat-hint>
        <mat-error *ngIf="newPasswordForm.get('confirmPassword').errors?.mustMatch">
          Jelszó nem egyezik
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button color="primary" class="btn-block" [disabled]="newPasswordForm.invalid">Mentés</button>
      <mat-error *ngIf="newPasswordForm.get('token').errors?.serverError">
        {{newPasswordForm.get('token').errors.serverError}}
      </mat-error>
    </form>

  </mat-card>
</div>
