<div class="containerX" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z8" fxLayout="row wrap" fxLayoutGap="10px"
            fxFlex.lt-md="100" fxFlex.gt-sm="80" fxLayoutAlign="start">

    <mat-card-header fxFlex="100" class="mt-15">
      <mat-card-title>Aktív termék kategóriák</mat-card-title>
      <mat-icon mat-card-avatar>category</mat-icon>
    </mat-card-header>


    <div fxFlex.lt-md="100" fxFlex.md="40" fxFlex.gt-md="20" fxLayoutAlign="space-evenly" fxLayout="column"
         *ngFor="let mainCategory of categories">
      <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-between">
        <mat-card-title class="main-category-title">
          {{ mainCategory.displayName }}
        </mat-card-title>
        <span>
          <mat-icon class="category-delete-icon" color="warn"
                    (click)="openDialog(mainCategory.displayName, mainCategory.key)">
          delete
        </mat-icon>
        </span>
        <div fxFlex="100">
          <mat-divider class="divider-primary-colored" inset="true"></mat-divider>
        </div>
      </mat-card-header>

      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let subCategory of mainCategory.subCategories; let i = index">
        <mat-card-subtitle class="subcategory-title">
          {{ i + 1 }}. {{ subCategory.displayName }}
        </mat-card-subtitle>
        <span>
          <mat-icon color="warn" class="category-delete-icon"
                    (click)="openDialog(subCategory.displayName, subCategory.key)">
              delete
          </mat-icon>
        </span>
      </div>
    </div>


    <div fxFlex="100" fxLayout="column">
      <mat-card-header fxFlex="100" class="mt-15">
        <mat-card-title>Új kategória</mat-card-title>
        <mat-icon mat-card-avatar>add</mat-icon>
      </mat-card-header>

      <mat-tab-group fxFlex="100" animationDuration="1000ms">

        <mat-tab label="Új fő kategória" fxLayout="column">

          <form class="mt-15" [formGroup]="mainCategoryForm" (ngSubmit)="onMainCategorySubmit()">

            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px" class="mt-15">
              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória neve az adatbázisban</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="key">
                </label>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint>Pl.: smart_tech</mat-hint>
                <mat-error
                  *ngIf="mainCategoryForm.get('key').invalid && !mainCategoryForm.get('key').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="mainCategoryForm.get('key').errors?.serverError">
                  {{ mainCategoryForm.get('key').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória megnevezése</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="displayName">
                </label>
                <mat-icon matSuffix>category</mat-icon>
                <mat-hint>Pl.: Okos kütyük</mat-hint>
                <mat-error *ngIf="mainCategoryForm.get('displayName').invalid &&
                !mainCategoryForm.get('displayName').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="mainCategoryForm.get('displayName').errors?.serverError">
                  {{ mainCategoryForm.get('displayName').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória ikon</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="icon">
                </label>
                <mat-hint>Google (material.io) ikonjai-ból kiválasztva. Pl.: mobile_phone</mat-hint>
                <mat-error
                  *ngIf="subCategoryForm.get('icon').invalid && !subCategoryForm.get('icon').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="subCategoryForm.get('icon').errors?.serverError">
                  {{ subCategoryForm.get('icon').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <div fxFlex="100">
                <mat-slide-toggle fxFlex="100" color="primary" formControlName="isActive"
                                  [style.margin-bottom]="'20px'"
                                  [style.margin-top]="'20px'">
                  A kategória aktív?
                </mat-slide-toggle>
              </div>

              <div fxFlex="100">
                <button mat-stroked-button color="primary" class="btn-block" [disabled]="mainCategoryForm.invalid">
                  Mentés
                </button>
              </div>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="Új termék kategória" fxLayout="column">
          <form class="mt-15" [formGroup]="subCategoryForm" (ngSubmit)="onSubCategorySubmit()">

            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px" class="mt-15">

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Fő kategória</mat-label>
                <mat-select formControlName="mainCategoryKey" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.key">
                    {{ category.displayName }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="subCategoryForm.get('mainCategoryKey').hasError('required')">
                  Kategória szükséges!
                </mat-error>

                <mat-error *ngIf="subCategoryForm.get('mainCategoryKey').errors?.serverError">
                  {{ subCategoryForm.get('mainCategoryKey').errors?.serverError}}
                </mat-error>

                <mat-hint></mat-hint>
              </mat-form-field>

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória ikon</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="icon">
                </label>
                <mat-hint>Google (material.io) ikonjai-ból kiválasztva. Pl.: mobile_phone</mat-hint>
                <mat-error
                  *ngIf="subCategoryForm.get('icon').invalid && !subCategoryForm.get('icon').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="subCategoryForm.get('icon').errors?.serverError">
                  {{ subCategoryForm.get('icon').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória neve az adatbázisban</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="key">
                </label>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint>Pl.: mobile_phone</mat-hint>
                <mat-error
                  *ngIf="subCategoryForm.get('key').invalid && !subCategoryForm.get('key').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="subCategoryForm.get('key').errors?.serverError">
                  {{ subCategoryForm.get('key').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória megnevezése</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="displayName">
                </label>
                <mat-icon matSuffix>category</mat-icon>
                <mat-hint>Pl.: Telefon</mat-hint>
                <mat-error *ngIf="subCategoryForm.get('displayName').invalid &&
                !subCategoryForm.get('displayName').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="subCategoryForm.get('displayName').errors?.serverError">
                  {{ subCategoryForm.get('displayName').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <div fxFlex="100">
                <mat-slide-toggle fxFlex="100" color="primary" formControlName="isActive"
                                  [style.margin-bottom]="'20px'"
                                  [style.margin-top]="'20px'">
                  A kategória aktív?
                </mat-slide-toggle>
              </div>

              <div fxFlex="100">
                <button mat-stroked-button color="primary" class="btn-block" [disabled]="subCategoryForm.invalid">
                  Mentés
                </button>
              </div>
            </div>
          </form>
        </mat-tab>

      </mat-tab-group>
    </div>

  </mat-card>
</div>
