<div class="containerX" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z8" fxLayout="row wrap" fxLayoutGap="10px"
            fxFlex.lt-md="100" fxFlex.gt-sm="80" fxLayoutAlign="start">

    <mat-card-header fxFlex="100">
      <mat-card-title>Termék kategóriák</mat-card-title>
      <mat-icon mat-card-avatar>category</mat-icon>
    </mat-card-header>

    <mat-divider inset="true" class="divider-primary-colored"></mat-divider>

    <div fxFlex.lt-md="100" fxFlex.md="40" fxFlex.gt-md="20" fxLayout="column" *ngFor="let mainCategory of categories">
      <mat-card-content class="mat-body-strong">
        {{ mainCategory.displayName }} ({{ mainCategory.subCategories.length }} termék kategória)
      </mat-card-content>

      <div fxFlex="100" fxLayout="column" *ngFor="let subCategory of mainCategory.subCategories">
        <ul>
          <li>{{ subCategory.displayName }}</li>
        </ul>
      </div>
    </div>

    <mat-divider inset="true" class="divider-primary-colored"></mat-divider>

    <div fxFlex="100" fxLayout="column">
      <mat-card-header fxFlex="100" class="mt-15">
        <mat-card-title>Új kategória</mat-card-title>
        <mat-icon mat-card-avatar>add</mat-icon>
      </mat-card-header>

      <mat-tab-group fxFlex="100" animationDuration="1000ms">

        <mat-tab label="Új fő kategória" fxLayout="column">

          <form class="mt-15" [formGroup]="categoryForm" (ngSubmit)="onCategorySubmit()">

            <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px" class="mt-15">
              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória neve az adatbázisban</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="key">
                </label>
                <mat-icon matSuffix>vpn_key</mat-icon>
                <mat-hint>Pl.: SMART_TECH</mat-hint>
                <mat-error *ngIf="categoryForm.get('key').invalid && !categoryForm.get('key').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="categoryForm.get('key').errors?.serverError">
                  {{ categoryForm.get('key').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field fxFlex.lt-md="100" fxFlex.gt-sm="45" appearance="outline">
                <mat-label>Kategória megnevezése</mat-label>
                <label>
                  <input matInput placeholder="" formControlName="displayName">
                </label>
                <mat-icon matSuffix>category</mat-icon>
                <mat-hint>Pl.: Okos kütyük</mat-hint>
                <mat-error *ngIf="categoryForm.get('displayName').invalid &&
                !categoryForm.get('displayName').errors?.serverError">
                  Túl rövid, vagy nem megfelelő név
                </mat-error>

                <mat-error *ngIf="categoryForm.get('displayName').errors?.serverError">
                  {{ categoryForm.get('displayName').errors?.serverError }}
                </mat-error>
              </mat-form-field>

              <div fxFlex="100">
                <mat-slide-toggle fxFlex="100" color="primary" formControlName="isActive"
                                  [style.margin-bottom]="'20px'"
                                  [style.margin-top]="'20px'">
                  A kategória aktív?
                </mat-slide-toggle>
              </div>

              <div fxFlex="100">
                <button mat-stroked-button color="primary" class="btn-block" [disabled]="categoryForm.invalid">
                  Mentés
                </button>
              </div>
            </div>
          </form>
        </mat-tab>

        <mat-tab label="Új termék kategória" fxLayout="column">

        </mat-tab>

      </mat-tab-group>
    </div>

  </mat-card>
</div>
