<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <!--                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">-->
    <mat-sidenav #drawer class="sidenav" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [(opened)]="opened">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/product-list/deals']" [queryParams]="{pageSize: 10, pageIndex: 0}"
           [ngStyle]="{'color': 'red'}">
          Ajánlatok
        </a>
        <app-menu-list-item *ngFor="let item of categories" [item]="item"></app-menu-list-item>
        <mat-divider class="divider-primary-colored" *ngIf="authenticatedUser"></mat-divider>
        <a mat-list-item [routerLink]="['/add-product']" *ngIf="isAdmin || isSeller">Új termék</a>
        <a mat-list-item [routerLink]="['/favorite-products']" *ngIf="authenticatedUser">
          Kedvenc Termékek
        </a>
        <a mat-list-item [routerLink]="['/user/my-account']" *ngIf="authenticatedUser">Profil</a>
        <mat-divider class="divider-primary-colored"></mat-divider>
        <a mat-list-item (click)="logout()" *ngIf="authenticatedUser; else actions">Kijelentkezés</a>

        <ng-template #actions>
          <a mat-list-item [routerLink]="['/login']">Bejelentkezés</a>
          <a mat-list-item [routerLink]="['/register']">Regisztráció</a>
        </ng-template>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <mat-toolbar color="primary" class="nav-bar" fxLayout="row" fxLayoutAlign="center">
        <mat-toolbar-row fxFlex.gt-sm="81">
          <button type="button" fxHide.gt-sm="true" aria-label="Toggle sidenav" mat-icon-button
                  (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span><a routerLink="/" class="brand-name">GMI</a></span>

          <button mat-button fxHide.lt-md="true" [matMenuTriggerFor]="level1" [matMenuTriggerData]="categories"
                  aria-label="Categories menu button">
            Kategóriák
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <button mat-button fxHide.lt-md="true" aria-label="Deals and offers button"
                  [routerLink]="['/product-list/deals']" [queryParams]="{pageSize: 10, pageIndex: 0}">
            Ajánlatok
          </button>
          <span class="spacer"></span>

          <div [formGroup]="searchForm" fxHide.lt-sm="true" fxLayout="row"
               class="search-input-div" fxFlex="30" fxFlex.lt-md="40" fxLayoutAlign="space-between">

              <input class="search-input" fxFlex="87" fxFlex.lt-lg="83" placeholder=" Keresés..."
              formControlName="searchInput" (keyup.enter)="submitSearch()"
              [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of autoCompleteOptions | async" [value]="option">
                {{ option.toLowerCase() | slice: 0: 20}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon fxFlex="10" fxFlex.lt-lg="15" (click)="submitSearch()" class="search-input-icon">search</mat-icon>
          </div>

          <mat-menu #level1="matMenu">
            <ng-template matMenuContent>
              <ng-template ngFor let-item [ngForOf]="categories">
                <button mat-menu-item *ngIf="item.subCategories?.length > 0" [matMenuTriggerFor]="level2"
                        [matMenuTriggerData]="getData(item)">
                  <mat-icon>{{ item.icon }}</mat-icon>
                  {{item.displayName}}
                </button>
                <button mat-menu-item *ngIf="!item.subCategories"
                        [routerLink]="['/product-list']" [queryParams]="{category: item.key}">
                  <mat-icon>{{ item.icon }}</mat-icon>
                  {{item.displayName}}
                </button>
              </ng-template>
            </ng-template>
          </mat-menu>

          <mat-menu #level2="matMenu">
            <ng-template matMenuContent let-data="data">
              <ng-template ngFor let-item [ngForOf]="data">
                <button mat-menu-item [routerLink]="['/product-list']"
                        [queryParams]="{
                        category: item.key,
                        pageSize: 10,
                        pageIndex: 0
                        }">
                  <mat-icon>{{ item.icon }}</mat-icon>
                  {{ item.displayName }}
                </button>
              </ng-template>
            </ng-template>
          </mat-menu>

          <span class="spacer"></span>
          <a mat-button fxHide.lt-md="true" [routerLink]="'/register'" *ngIf="!authenticatedUser">Regisztráció</a>
          <a mat-button fxHide.lt-md="true" [routerLink]="'/login'" *ngIf="!authenticatedUser">Bejelentkezés</a>

          <button fxHide.lt-md="true" mat-icon-button *ngIf="authenticatedUser" [matMenuTriggerFor]="menu"
                  aria-label="Icon button for user options" matTooltip="Felhasználó opciók"
                  [style.margin-right]="'10px'">
            <mat-icon>person</mat-icon>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu fxHide.lt-md="true" #menu="matMenu" xPosition="before">

            <a mat-menu-item [routerLink]="['/user/my-account']">
              <span>Profilom</span>
            </a>

            <a mat-menu-item *ngIf="isAdmin || isSeller" [routerLink]="['/add-product']">
              <span>Új termék</span>
            </a>

            <a mat-menu-item (click)="logout()">
              <span>Kijelentkezés</span>
            </a>

          </mat-menu>

          <button mat-button aria-label="Button to favorite products" matTooltip="Kedvencek"
                  *ngIf="authenticatedUser" [routerLink]="['/favorite-products']">
            <mat-icon aria-hidden="false" aria-label="Favorites" [matBadge]="favoriteItems.toString()"
                      matBadgeSize="medium"
                      matBadgeOverlap="false">favorite
            </mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/cart']" aria-label="Button for cart details" id="cart-icon"
                  matTooltip="Kosár">
            <mat-icon [matBadge]="itemsInCart.toString()" matBadgeSize="medium" matBadgeOverlap="false">shopping_cart
            </mat-icon>
          </button>
          <button color="primary" *ngIf="isAdmin" mat-icon-button [routerLink]="['/admin/dashboard']"
                  aria-label="admin settings button" id="admin-icon">
            <mat-icon>admin_panel_settings</mat-icon>
          </button>

        </mat-toolbar-row>
      </mat-toolbar>
      <main class="main-page">
        <ng-content></ng-content>
      </main>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
