.sidenav-container {
  min-height: 100vh !important;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#cart-icon {
  margin-left: 1%;
  margin-right: 1%;
}


.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: sticky;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 3000;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.brand-name {
  text-decoration: none;
  color: white;
}
main {
  min-height: 84vh;
}
