.sidenav-container {
  min-height: 100vh !important;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#cart-icon {
  margin-left: 1%;
  margin-right: 1%;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: sticky;
  z-index: 3000;
}

.sidenav-container {
  flex: 1;
}

.brand-name {
  text-decoration: none;
  color: white;
}

main {
  min-height: 84vh;
}

#admin-icon {
  color: indianred;
}

.search-input-div {
  border-radius: 20px;
  background-color: #673ab7;
  border: 2px solid white;
  height: 32px;
  margin-bottom: 0;
}

.search-input {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
  border: 2px solid transparent;
  outline: none;
  text-indent: 5px;
}

.search-input:focus {
  border: 2px solid #ffcf02;
}

.search-input-icon {
  margin-left: 3px;
  padding-top: 2px;
  cursor: pointer;
}
