<form [formGroup]="userForm">
  <div fxLayoutAlign="center" [style.margin]="'2%'">
    <div fxLayout="row wrap" fxFlex.lt-lg="100" fxFlex.gt-md="80" fxLayoutAlign="center" fxLayoutGap="10px">

      <div fxFlex.gt-sm="90" fxLayoutGap="10px">

        <mat-card fxFlex.gt-sm="55">

          <app-profile *ngIf="loaded"
                       [userDataForm]="userForm"
                       [data]="user">
          </app-profile>

          <app-roles *ngIf="loaded" [roles]="user.roles"
                     [roleOptions]="roleOptions"
                     [userRolesData]="user.roles"
                     [userDataForm]="userForm"
                     (rolesToSend)="rolesToSend($event)">
          </app-roles>

          <button mat-flat-button color="primary" (click)="onSubmit(user.id)">Submit</button>
        </mat-card>

        <div fxFlex.gt-sm="45" fxLayout="column" fxLayoutGap="10px">
          <app-shipping-address *ngIf="loaded" [userDataForm]="userForm"
                                [userShipping]="user.shippingAddress"></app-shipping-address>
          <app-billing-address *ngIf="loaded" [userDataForm]="userForm"
                               [userBilling]="user.billingAddress"></app-billing-address>
        </div>
      </div>
    </div>
  </div>
</form>


