.desktop-btn {
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0 -16px;
}

.box {
  margin-right:0 !important ;
}

.sm-btn {
  bottom: 5px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
}

